In [47]:
import pandas as pd

In [59]:
##read in all the player data for the 2016-2017 NBA regular season
total_data = pd.read_csv('nba_2013_2014')

In [63]:
##concatenate all the data into one big frame
total_data = total_data.iloc[0:31380]

In [44]:
total_data.tail()

,+/1,3P,3PA,AST,BLK,Date,FG,FGA,FT,FTA,...,TOV,TRB,Team,minutes,name,opp_score,started,team_score,is_Home,Team_Win
31375,1,2,3,0,1,4/16/2014,2,5,0,0,...,0,8,San Antonio,16:45,Matt Bonner,113,0,100,1,0
31376,-5,0,0,4,0,4/16/2014,0,4,0,0,...,1,3,San Antonio,16:45,Boris Diaw,113,0,100,1,0
31377,3,1,3,1,0,4/16/2014,4,9,0,0,...,1,2,San Antonio,14:11,Patty Mills,113,0,100,1,0
31378,-4,1,2,0,0,4/16/2014,4,6,4,6,...,1,2,San Antonio,14:10,Austin Daye,113,0,100,1,0
31379,-2,0,0,1,0,4/16/2014,0,2,0,0,...,0,0,San Antonio,12:00,Damion James,113,0,100,1,0

In [64]:
##drop unnecessary column
total_data.drop('Unnamed: 0',axis=1,inplace=True)

In [65]:
total_data['Game_Id'].head()

0    10/29/2013_Indiana_Orlando
1    10/29/2013_Indiana_Orlando
2    10/29/2013_Indiana_Orlando
3    10/29/2013_Indiana_Orlando
4    10/29/2013_Indiana_Orlando
Name: Game_Id, dtype: object

In [66]:
##convert to numpy array to create features I need
array = total_data.as_matrix()

In [67]:
##this corrected my game ids. I scraped incorrectly.
##I had both '10/25/2016_Cleveland_New York' and '10/25/2016_New York_Cleveland'
ids = '10/29/2013_Indiana_Orlando'
sets = ['10/29/2013','Indian','Orlando']
for i in range(len(array)):
    set_row = array[i][10].split('_')
    if set(set_row)==set(sets):
        array[i][10] = ids
    else:
        sets = set(set_row)
        ids = array[i][10]

In [68]:
##convert back into a pandas dataframe
total_data = pd.DataFrame(array,columns=total_data.columns)

In [69]:
##create a is_home feature
def home(row):
    return row['Game_Id'].split('_')[1]
total_data['Home_team'] = total_data.apply(home,axis=1)
total_data['is_Home']=total_data['Home_team'] ==total_data['Team']
total_data.drop('Home_team',axis=1,inplace=True)

In [70]:
##convert result column to a boolean Team_Win
total_data['Team_Win'] = total_data['result'].map({'loser':0,'winner':1})
total_data.drop('result',axis=1, inplace=True)

In [71]:
##convert other booleans to ints
total_data['started']= total_data['started'].apply(int)
total_data['is_Home']= total_data['is_Home'].apply(int)

In [72]:
##export the resulting data to a csv file
total_data.to_csv('Nba_player_data_2013.csv')