In [2]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = 999

In [3]:
players= pd.read_csv('NBA_player_data_2016.csv')

In [4]:
teams = pd.read_csv('team_boxscores_2016.csv')

In [5]:
teams.drop('Unnamed: 0', inplace=True,axis=1)
players.drop('Unnamed: 0', inplace=True,axis=1)

In [6]:
teams['Date']=teams['Game_Id'].apply(lambda x: x.split('_')[0])

In [7]:
teams['Date'] = pd.to_datetime(teams['Date'])

In [8]:
matrix = teams.as_matrix()

In [9]:
##get a list of all the ball clubs
clubs = []
for el in matrix:
    clubs.append(el[16])
clubs = list(set(clubs))

In [10]:
##initialize last date at 0
last_date = {}
for team in clubs:
    last_date[team]=0


##calculate how many days since last game
new_matrix = []
for row in matrix:
    row = list(row)
    if last_date[row[16]] == 0:
        row.append(np.nan)
    else:
        row.append((row[32]-last_date[row[16]]).days)
    new_matrix.append(row)
    last_date[row[16]] = row[32]

##add Days_Since to column names
columns = ['3P', '3PA', 'AST', 'BLK', 'FG', 'FGA', 'FT', 'FTA', 'ORB', 'PF',
       'PTS', 'STL', 'TOV', 'TRB', 'is_Home', 'Team_Win', 'Team', 'opp_3P',
       'opp_3PA', 'opp_AST', 'opp_BLK', 'opp_FG', 'opp_FGA', 'opp_FT',
       'opp_FTA', 'opp_PTS', 'opp_ORB', 'opp_STL', 'opp_PF', 'opp_TOV',
       'opponent', 'Game_Id', 'Date','Days_Since']
##add the delta column to new data frame
df = pd.DataFrame(new_matrix,columns = columns)

In [11]:
##dictionary of time zones
time_zone_dict = {}
for team in clubs:
    time_zone_dict[team]=0
for team in clubs:
    if team in ['Phoenix','Denver', 'Utah']:
        time_zone_dict[team]+= 1
    elif team in ['Chicago','Oklahoma City','Milwaukee','Houston','Dallas',
                  'San Antonio','Memphis','Minnesota','New Orleans']:
        time_zone_dict[team]+=2
    elif team in ['Atlanta','Boston','Charlotte','Brooklyn', 'Cleveland','Detroit',
                 'Indiana', 'Miami','New York', 'Orlando','Philadelphia','Washington','Toronto']:
        time_zone_dict[team]+=3
    else:
        pass

In [12]:
##correct for wrong is_home function
df['is_Home'] = df['is_Home'].map({0:1,1:0})

In [13]:
##grab the location from the game id
df['game_Location'] = df['Game_Id'].apply(lambda x: x.split("_")[1])

In [14]:
##make time zone function
def time_zone(row):
    return time_zone_dict[row['game_Location']]

##add time zone to data frame
df['Time_Zone'] =df.apply(time_zone, axis=1)

In [15]:
import requests
import json

In [16]:
##change location column to accurate google locations
def change_Locations(row):
    if row['game_Location'] in ['LA Clippers', 'LA Lakers']:
        return 'Los Angeles'
    elif row['game_Location'] == 'Golden State':
        return 'Oakland'
    elif row['game_Location'] == 'Utah':
        return "Salt Lake City"
    elif row['game_Location'] =='Indiana':
        return 'Indianapolis'
    elif row['game_Location'] =='Minnesota':
        return 'Minneapolis'
    elif row['game_Location'] =='Washington':
        return 'Washington DC'
    else:
        return row['game_Location']
df['game_Location'] = df.apply(change_Locations, axis=1)

In [17]:
##call google map API to get distances between stadiums and make them a dictionary
dict_distances = {}
for i,loc1 in enumerate(df['game_Location'].unique()):
    print loc1
    for k in range(i,len(df['game_Location'].unique())):
        loc2 = df['game_Location'].unique()[k]
        if loc1!=loc2:
            string = 'https://maps.googleapis.com/maps/api/distancematrix/json?origins={}&destinations={}&key=AIzaSyAtEyirTGKvMkeAPCThQYY83-a1Dzq6SHo'.format(loc1,loc2)
            response = requests.get(string)
            dict_distances[loc1+'-'+loc2] = response.content.split('\"text" : \"')[1].split('\"')[0]

Cleveland
Oakland
Portland
Boston
Indianapolis
Los Angeles
Memphis
Milwaukee
New Orleans
Orlando
Philadelphia
Phoenix
Toronto
Atlanta
Chicago
Sacramento
Brooklyn
Dallas
Detroit
Miami
Oklahoma City
Salt Lake City
Charlotte
Denver
New York
San Antonio
Houston
Minneapolis
Washington DC

In [18]:
## do the same thing as game location
def team_location(row):
    if row['Team'] in ['LA Clippers', 'LA Lakers']:
        return 'Los Angeles'
    elif row['Team'] == 'Golden State':
        return 'Oakland'
    elif row['Team'] == 'Utah':
        return "Salt Lake City"
    elif row['Team'] =='Indiana':
        return 'Indianapolis'
    elif row['Team'] =='Minnesota':
        return 'Minneapolis'
    elif row['Team'] =='Washington':
        return 'Washington DC'
    else:
        return row['Team']

df['team_location'] = df.apply(team_location,axis=1)

##use the dictionary created to calculated distances between home and game
def distance_from_home(row):
    if row['game_Location'] ==row['team_location']:
        return np.nan
    else:
        string = row['game_Location']+'-'+row['team_location']
        if string in dict_distances:
            return dict_distances[string]
        else:
            return dict_distances[row['team_location']+'-'+row['game_Location']]
df['distance_From_Home'] = df.apply(distance_from_home,axis=1)

In [19]:
##turn distances into necessary form 
def fix_Distance(row):
    if row['is_Home']:
        return row['distance_From_Home']
    else:
        try:
            return row['distance_From_Home'].split(' ')[0].replace(',','')
        except:
            return row['distance_From_Home']
        
df['distance_From_Home'] = df.apply(fix_Distance,axis=1)

df['distance_From_Home']=df['distance_From_Home'].apply(float)

In [20]:
#since we will deal with team time zones we need to change the name
df['game_time_zone'] =df['Time_Zone']
df.drop('Time_Zone', axis=1, inplace=True)

In [21]:
def team_time_zone(row):
    return time_zone_dict[row['Team']]
df['team_time_zone'] = df.apply(team_time_zone,axis=1)

In [22]:
df['time_zone_diff'] = df['game_time_zone']-df['team_time_zone']

In [23]:
#The next process will be repeated. I am keeping track of the last game each team played
#and gathering data on those games. 
#This cell is for the last game location.
matrix = df.as_matrix()


##initialize last_opp and last_time_zone at 0
last_opp = {}
for team in clubs:
    last_opp[team]=0


##calculate how many days since last game
new_matrix = []
for row in matrix:
    row = list(row)
    if last_opp[row[16]] == 0:
        row.append(np.nan)
    else:
        row.append(last_opp[row[16]])
    new_matrix.append(row)
    last_opp[row[16]] = row[34]

columns = ['3P', '3PA', 'AST', 'BLK', 'FG', 'FGA', 'FT', 'FTA', 'ORB', 'PF',
       'PTS', 'STL', 'TOV', 'TRB', 'is_Home', 'Team_Win', 'Team', 'opp_3P',
       'opp_3PA', 'opp_AST', 'opp_BLK', 'opp_FG', 'opp_FGA', 'opp_FT',
       'opp_FTA', 'opp_PTS', 'opp_ORB', 'opp_STL', 'opp_PF', 'opp_TOV',
       'opponent', 'Game_Id', 'Date', 'Days_Since', 'game_Location',
       'team_location', 'distance_From_Home', 'game_time_zone',
       'team_time_zone', 'time_zone_diff_From_home','last_loc']

##add the last loc column to new data frame
df= pd.DataFrame(new_matrix,columns = columns)

In [24]:
##calculate the distance from the last location
def distance_from_last_game(row):
    if row['last_loc']==row['game_Location']:
        return np.nan
    else:
        try:
            string = row['game_Location']+'-'+row['last_loc']
            if string in dict_distances:
                return dict_distances[string]
            else:
                return dict_distances[row['last_loc']+'-'+row['game_Location']]
        except:
            return np.nan
df['distance_From_Last_Game'] = df.apply(distance_from_last_game,axis=1)

In [25]:
##convert this distance to a float
def fix_Distance(row):
    try:
        return row['distance_From_Last_Game'].split(' ')[0].replace(',','')
    except:
        return row['distance_From_Last_Game']
        
df['distance_From_Last_Game'] = df.apply(fix_Distance,axis=1)

df['distance_From_Last_Game']=df['distance_From_Last_Game'].apply(float)

In [26]:
##initialize last_time_zone at -1
matrix=df.as_matrix()
last_time = {}
for team in clubs:
    last_time[team]=-1


##calculate how many days since last game
new_matrix = []
for row in matrix:
    row = list(row)
    if last_time[row[16]] == -1:
        row.append(np.nan)
    else:
        row.append(last_time[row[16]])
    new_matrix.append(row)
    last_time[row[16]] = row[37]

columns = ['3P', '3PA', 'AST', 'BLK', 'FG', 'FGA', 'FT', 'FTA', 'ORB', 'PF',
       'PTS', 'STL', 'TOV', 'TRB', 'is_Home', 'Team_Win', 'Team', 'opp_3P',
       'opp_3PA', 'opp_AST', 'opp_BLK', 'opp_FG', 'opp_FGA', 'opp_FT',
       'opp_FTA', 'opp_PTS', 'opp_ORB', 'opp_STL', 'opp_PF', 'opp_TOV',
       'opponent', 'Game_Id', 'Date', 'Days_Since', 'game_Location',
       'team_location', 'distance_From_Home', 'game_time_zone',
       'team_time_zone', 'time_zone_diff_From_home', 'last_loc',
       'distance_From_Last_Game','last_time_zone']

##add the last loc column to new data frame
df= pd.DataFrame(new_matrix,columns = columns)

In [27]:
##calculate the time zone difference from the last game
df['time_zone_diff_From_last'] = df['game_time_zone']- df['last_time_zone']

In [74]:

matrix = df.as_matrix()


game = {}
for team in clubs:
    game[team]=1


new_matrix = []
for row in matrix:
    row = list(row)
    if game[row[16]] == 1:
        row.append(1)
    else:
        row.append(game[row[16]])
    new_matrix.append(row)
    game[row[16]] +=1

columns = ['3P', '3PA', 'AST', 'BLK', 'FG', 'FGA', 'FT', 'FTA', 'ORB', 'PF',
       'PTS', 'STL', 'TOV', 'TRB', 'is_Home', 'Team_Win', 'Team', 'opp_3P',
       'opp_3PA', 'opp_AST', 'opp_BLK', 'opp_FG', 'opp_FGA', 'opp_FT',
       'opp_FTA', 'opp_PTS', 'opp_ORB', 'opp_STL', 'opp_PF', 'opp_TOV',
       'opponent', 'Game_Id', 'Date', 'Days_Since', 'game_Location',
       'team_location', 'distance_From_Home', 'game_time_zone',
       'team_time_zone', 'time_zone_diff_From_home','last_loc','distance_From_Last_Game',
        'last_time_zone','time_zone_diff_From_last','game_number']

##add the last loc column to new data frame
df= pd.DataFrame(new_matrix,columns = columns)

In [73]:
df.drop('is_Opener',axis=1,inplace=True)

In [79]:
def is_opener(row):
    return int(row['game_number']==1)
df['is_Opener'] = df.apply(is_opener,axis=1)

In [81]:
df['line'] = df['PTS']-df['opp_PTS']

In [83]:
df.head(8)

,3P,3PA,AST,BLK,FG,FGA,FT,FTA,ORB,PF,PTS,STL,TOV,TRB,is_Home,Team_Win,Team,opp_3P,opp_3PA,opp_AST,opp_BLK,opp_FG,opp_FGA,opp_FT,opp_FTA,opp_PTS,opp_ORB,opp_STL,opp_PF,opp_TOV,opponent,Game_Id,Date,Days_Since,game_Location,team_location,distance_From_Home,game_time_zone,team_time_zone,time_zone_diff_From_home,last_loc,distance_From_Last_Game,last_time_zone,time_zone_diff_From_last,game_number,is_Opener,line
0,9.0,27.0,17.0,6.0,32.0,87.0,15.0,20.0,13.0,22.0,88.0,6.0,18.0,42.0,1,0,Cleveland,13.0,35.0,31.0,5.0,45.0,94.0,14.0,19.0,117.0,11.0,12.0,22.0,14.0,New York,10/25/2016_Cleveland_New York,2016-10-25,NaN,Cleveland,Cleveland,NaN,3,3,0,NaN,NaN,NaN,NaN,1,1,-29.0
1,13.0,35.0,31.0,5.0,45.0,94.0,14.0,19.0,11.0,22.0,117.0,12.0,14.0,51.0,0,1,New York,9.0,27.0,17.0,6.0,32.0,87.0,15.0,20.0,88.0,13.0,6.0,22.0,18.0,Cleveland,10/25/2016_Cleveland_New York,2016-10-25,NaN,Cleveland,New York,744.0,3,3,0,NaN,NaN,NaN,NaN,1,1,29.0
2,12.0,24.0,25.0,3.0,47.0,98.0,23.0,26.0,21.0,19.0,129.0,13.0,13.0,55.0,1,1,Golden State,7.0,33.0,24.0,6.0,40.0,85.0,13.0,18.0,100.0,8.0,11.0,19.0,16.0,San Antonio,10/25/2016_Golden State_San Antonio,2016-10-25,NaN,Oakland,Oakland,NaN,0,0,0,NaN,NaN,NaN,NaN,1,1,29.0
3,7.0,33.0,24.0,6.0,40.0,85.0,13.0,18.0,8.0,19.0,100.0,11.0,16.0,35.0,0,0,San Antonio,12.0,24.0,25.0,3.0,47.0,98.0,23.0,26.0,129.0,21.0,13.0,19.0,13.0,Golden State,10/25/2016_Golden State_San Antonio,2016-10-25,NaN,Oakland,San Antonio,2771.0,0,2,-2,NaN,NaN,NaN,NaN,1,1,-29.0
4,8.0,24.0,19.0,5.0,40.0,82.0,16.0,16.0,6.0,19.0,104.0,9.0,11.0,31.0,1,0,Portland,13.0,19.0,22.0,3.0,39.0,75.0,22.0,22.0,113.0,5.0,5.0,18.0,12.0,Utah,10/25/2016_Portland_Utah,2016-10-25,NaN,Portland,Portland,NaN,0,0,0,NaN,NaN,NaN,NaN,1,1,-9.0
5,13.0,19.0,22.0,3.0,39.0,75.0,22.0,22.0,5.0,18.0,113.0,5.0,12.0,34.0,0,1,Utah,8.0,24.0,19.0,5.0,40.0,82.0,16.0,16.0,104.0,6.0,9.0,19.0,11.0,Portland,10/25/2016_Portland_Utah,2016-10-25,NaN,Portland,Salt Lake City,1232.0,0,1,-1,NaN,NaN,NaN,NaN,1,1,9.0
6,15.0,44.0,22.0,3.0,43.0,97.0,16.0,20.0,15.0,19.0,117.0,8.0,16.0,44.0,1,0,Boston,11.0,32.0,36.0,9.0,48.0,89.0,15.0,18.0,122.0,12.0,13.0,20.0,19.0,Brooklyn,10/26/2016_Boston_Brooklyn,2016-10-26,NaN,Boston,Boston,NaN,3,3,0,NaN,NaN,NaN,NaN,1,1,-5.0
7,11.0,32.0,36.0,9.0,48.0,89.0,15.0,18.0,12.0,20.0,122.0,13.0,19.0,47.0,0,1,Brooklyn,15.0,44.0,22.0,3.0,43.0,97.0,16.0,20.0,117.0,15.0,8.0,19.0,16.0,Boston,10/26/2016_Boston_Brooklyn,2016-10-26,NaN,Boston,Brooklyn,347.0,3,3,0,NaN,NaN,NaN,NaN,1,1,5.0

In [106]:
def boxscore_aves(team,date):
    subdata = df[(df['Team']==team) &(df['Date']<date)]
    features = subdata[['3P', '3PA', 'AST', 'BLK', 'FG', 'FGA', 'FT', 'FTA', 'ORB', 'PF',
       'PTS', 'STL', 'TOV', 'TRB', 'opp_3P',
       'opp_3PA', 'opp_AST', 'opp_BLK', 'opp_FG', 'opp_FGA', 'opp_FT',
       'opp_FTA', 'opp_PTS', 'opp_ORB', 'opp_STL', 'opp_PF', 'opp_TOV']]
    
    return features.expanding().mean().values[-1]

In [109]:
['3P', '3PA', 'AST', 'BLK', 'FG', 'FGA', 'FT', 'FTA', 'ORB', 'PF',
       'PTS', 'STL', 'TOV', 'TRB', 'opp_3P',
       'opp_3PA', 'opp_AST', 'opp_BLK', 'opp_FG', 'opp_FGA', 'opp_FT',
       'opp_FTA', 'opp_PTS', 'opp_ORB', 'opp_STL', 'opp_PF', 'opp_TOV'],boxscore_aves('Golden State','3/4/17')))

{'3P': 9.2622950819672134,
 '3PA': 28.409836065573771,
 'AST': 22.704918032786885,
 'BLK': 3.819672131147541,
 'FG': 38.983606557377051,
 'FGA': 89.47540983606558,
 'FT': 18.098360655737704,
 'FTA': 23.590163934426229,
 'ORB': 11.475409836065573,
 'PF': 20.0,
 'PTS': 105.32786885245902,
 'STL': 8.6885245901639347,
 'TOV': 14.934426229508198,
 'TRB': 43.639344262295083,
 'opp_3P': 11.983606557377049,
 'opp_3PA': 31.409836065573771,
 'opp_AST': 30.819672131147541,
 'opp_BLK': 6.6721311475409832,
 'opp_FG': 43.409836065573771,
 'opp_FGA': 87.459016393442624,
 'opp_FT': 18.737704918032787,
 'opp_FTA': 23.590163934426229,
 'opp_ORB': 9.0327868852459012,
 'opp_PF': 19.344262295081968,
 'opp_PTS': 117.54098360655738,
 'opp_STL': 9.6557377049180335,
 'opp_TOV': 14.508196721311476}

In [128]:
##this creates a new dataframe with up to the date averages for each team going into each game.
##these averages will be used as features for the models
game_features = []
for i in range(df.shape[0]):
    row = df.iloc[i]
    if row['is_Opener']:
        pass
    else:
        team = dict(zip(['3P', '3PA', 'AST', 'BLK', 'FG', 'FGA', 'FT', 'FTA', 'ORB', 'PF',
       'PTS', 'STL', 'TOV', 'TRB', 'opp_3P',
       'opp_3PA', 'opp_AST', 'opp_BLK', 'opp_FG', 'opp_FGA', 'opp_FT',
       'opp_FTA', 'opp_PTS', 'opp_ORB', 'opp_STL', 'opp_PF', 'opp_TOV'],
                        boxscore_aves(row['Team'],row['Date'])))
        team['team'] = row['Team']
        team['Date'] = row['Date']
        team['Opponent'] = row['opponent']
        team['Days_Since'] = row['Days_Since']
        team['is_Home'] = row['is_Home']
        team['Team_Win'] = row['Team_Win']
        team['distance_From_Home'] = row['distance_From_Home']
        team['time_zone_diff_From_home'] = row['time_zone_diff_From_home']
        team['distance_From_Last_Game'] = row['distance_From_Last_Game']
        team['game_number'] = row['game_number']
        team['time_zone_diff_From_last'] = row['time_zone_diff_From_last']
        team['line'] =row['line']
        game_features.append(team)
new_df = pd.DataFrame(game_features)

,3P,3PA,AST,BLK,Date,Days_Since,FG,FGA,FT,FTA,ORB,Opponent,PF,PTS,STL,TOV,TRB,Team_Win,distance_From_Home,distance_From_Last_Game,game_number,is_Home,line,opp_3P,opp_3PA,opp_AST,opp_BLK,opp_FG,opp_FGA,opp_FT,opp_FTA,opp_ORB,opp_PF,opp_PTS,opp_STL,opp_TOV,team,time_zone_diff_From_home,time_zone_diff_From_last
100,9.750000,27.000000,24.000000,4.500000,2016-11-03,2.0,42.000000,93.500000,18.000000,23.750000,12.500000,Oklahoma City,21.500000,111.750000,10.750000,13.750000,46.500000,0,NaN,1013.0,5,1,-26.0,8.500000,29.000000,29.750000,4.250000,42.250000,87.000000,20.750000,25.500000,7.750000,20.750000,113.750000,9.750000,15.250000,Golden State,0,0.0
101,6.500000,26.500000,19.500000,5.000000,2016-11-03,1.0,36.750000,88.000000,16.500000,24.750000,7.750000,Golden State,22.000000,96.500000,11.000000,16.500000,42.250000,1,2600.0,598.0,5,0,26.0,6.250000,22.250000,18.750000,4.000000,39.500000,92.250000,18.250000,25.250000,11.750000,23.250000,103.500000,10.250000,18.000000,Oklahoma City,-2,0.0
102,8.000000,25.750000,24.000000,6.250000,2016-11-03,2.0,38.000000,85.750000,22.500000,28.250000,11.750000,Indiana,18.750000,106.500000,9.500000,14.000000,49.000000,0,NaN,1634.0,5,1,-18.0,6.250000,21.750000,25.000000,4.750000,39.500000,89.500000,16.250000,19.750000,9.750000,21.500000,101.500000,9.250000,12.250000,Milwaukee,0,0.0
103,10.750000,32.500000,23.500000,5.000000,2016-11-03,2.0,42.000000,91.500000,17.750000,21.000000,11.500000,Milwaukee,22.250000,112.500000,7.500000,15.500000,48.000000,1,449.0,449.0,5,0,18.0,8.500000,22.250000,26.250000,6.750000,42.000000,91.500000,17.500000,23.000000,10.250000,20.250000,110.000000,9.000000,14.250000,Indiana,-1,-1.0
104,8.000000,24.666667,17.666667,6.666667,2016-11-03,2.0,34.000000,80.000000,20.000000,27.000000,10.000000,Denver,23.666667,96.000000,9.666667,15.333333,36.000000,1,NaN,NaN,4,1,3.0,8.333333,20.000000,22.666667,5.000000,38.666667,78.000000,20.000000,27.666667,10.666667,23.333333,105.666667,7.333333,14.000000,Minnesota,0,0.0
105,5.666667,22.333333,23.333333,7.333333,2016-11-03,3.0,41.333333,92.666667,19.000000,24.000000,7.000000,Minnesota,29.000000,107.333333,11.000000,11.000000,40.333333,0,1472.0,1505.0,4,0,-3.0,7.666667,23.000000,17.000000,6.000000,36.000000,88.000000,27.666667,35.666667,12.666667,20.333333,107.333333,6.333333,16.333333,Denver,1,-1.0
106,7.750000,23.000000,24.750000,6.250000,2016-11-03,2.0,42.750000,90.250000,12.250000,17.000000,11.250000,Sacramento,20.000000,105.500000,6.500000,11.500000,46.750000,0,NaN,1579.0,5,1,-8.0,7.000000,24.250000,22.500000,4.500000,36.750000,90.250000,14.500000,20.750000,13.500000,16.500000,95.000000,6.500000,12.500000,Orlando,0,0.0
107,8.200000,23.000000,22.000000,6.200000,2016-11-03,2.0,35.800000,78.200000,22.800000,32.200000,9.800000,Orlando,24.200000,102.600000,8.600000,13.200000,41.000000,1,4651.0,379.0,6,0,8.0,7.200000,22.600000,21.600000,4.000000,36.200000,81.000000,21.200000,27.000000,8.400000,24.400000,100.800000,6.400000,15.000000,Sacramento,3,0.0
108,9.200000,26.000000,26.000000,7.000000,2016-11-04,2.0,41.600000,90.400000,16.600000,20.200000,11.400000,Charlotte,21.000000,109.000000,10.800000,15.600000,47.200000,1,NaN,NaN,6,1,4.0,10.800000,33.800000,21.200000,3.800000,38.400000,88.000000,17.400000,21.200000,11.800000,20.400000,105.000000,9.600000,16.800000,Brooklyn,0,0.0
109,11.000000,29.750000,22.500000,4.250000,2016-11-04,2.0,36.000000,86.250000,13.000000,18.000000,8.250000,Brooklyn,23.750000,96.000000,4.500000,14.250000,44.250000,0,1016.0,1016.0,5,0,-4.0,9.000000,27.750000,23.500000,7.000000,36.500000,84.750000,20.750000,26.750000,9.750000,19.000000,102.750000,7.750000,10.250000,Charlotte,0,0.0
110,8.500000,26.000000,24.500000,5.000000,2016-11-04,2.0,38.750000,86.750000,12.750000,17.750000,9.250000,New York,20.000000,98.750000,9.000000,12.750000,38.250000,1,NaN,1581.0,5,1,13.0,9.500000,23.250000,26.500000,5.750000,40.250000,87.000000,20.250000,25.000000,14.750000,19.000000,110.250000,7.250000,15.500000,Chicago,0,-1.0
111,11.250000,28.250000,23.500000,5.000000,2016-11-04,2.0,41.250000,89.500000,16.500000,23.250000,12.750000,Chicago,22.250000,110.250000,8.500000,13.750000,48.250000,0,1271.0,1271.0,5,0,-13.0,7.500000,22.500000,19.250000,6.250000,36.000000,83.500000,17.250000,24.750000,8.500000,22.250000,96.750000,6.500000,14.250000,New York,-1,-1.0
112,12.000000,26.750000,21.250000,3.500000,2016-11-04,2.0,37.250000,80.250000,20.000000,28.000000,7.250000,Portland,21.750000,106.500000,7.000000,15.750000,45.250000,1,NaN,1999.0,5,1,10.0,11.000000,33.500000,18.500000,4.250000,36.250000,86.750000,14.500000,18.000000,8.750000,21.250000,98.000000,7.750000,11.250000,Dallas,0,1.0
113,7.400000,23.600000,20.200000,4.600000,2016-11-04,2.0,41.800000,93.000000,24.200000,30.800000,11.600000,Dallas,20.800000,115.200000,10.600000,12.600000,48.800000,0,3229.0,1713.0,6,0,-10.0,10.600000,28.200000,22.200000,5.400000,40.400000,89.000000,19.200000,23.400000,7.000000,24.400000,110.600000,7.800000,14.600000,Portland,2,1.0
114,8.600000,28.000000,24.200000,4.600000,2016-11-04,2.0,40.400000,85.600000,21.400000,28.400000,10.800000,Golden State,20.400000,110.800000,9.800000,16.000000,42.200000,0,NaN,3499.0,6,1,-20.0,8.600000,28.000000,19.000000,4.800000,40.000000,87.800000,18.600000,22.400000,11.000000,24.200000,107.200000,10.000000,16.800000,LA Lakers,0,-3.0
115,9.800000,27.000000,23.200000,4.800000,2016-11-04,1.0,40.600000,92.200000,17.600000,24.600000,12.600000,LA Lakers,21.200000,108.600000,10.200000,14.200000,45.400000,1,598.0,598.0,6,0,20.0,9.600000,29.200000,29.200000,6.200000,43.000000,87.400000,19.800000,24.400000,9.200000,20.200000,115.400000,9.600000,15.200000,Golden State,0,0.0
116,8.000000,23.600000,21.800000,5.400000,2016-11-04,2.0,37.400000,81.400000,19.400000,26.400000,8.800000,LA Clippers,23.800000,102.200000,7.200000,15.600000,43.800000,1,NaN,NaN,6,1,11.0,9.400000,26.200000,18.400000,4.800000,34.400000,84.600000,19.200000,25.600000,10.800000,25.000000,97.400000,9.400000,15.200000,Memphis,0,0.0
117,5.250000,18.000000,17.250000,2.500000,2016-11-04,2.0,34.250000,81.500000,17.250000,24.000000,9.000000,Memphis,28.250000,91.000000,7.750000,18.250000,46.750000,0,2884.0,2884.0,5,0,-11.0,6.750000,23.500000,18.000000,4.250000,36.250000,85.250000,21.000000,30.500000,10.500000,20.250000,100.250000,9.750000,13.250000,LA Clippers,2,2.0
118,9.000000,27.000000,24.200000,4.600000,2016-11-04,2.0,38.600000,88.400000,20.400000,25.000000,10.000000,Phoenix,21.200000,106.600000,8.400000,15.800000,51.600000,1,NaN,636.0,6,1,1.0,6.400000,24.600000,22.800000,5.800000,36.600000,88.200000,18.600000,24.200000,7.600000,23.000000,98.200000,10.200000,13.400000,New Orleans,0,0.0
119,7.400000,24.000000,22.000000,5.000000,2016-11-04,2.0,40.200000,89.200000,24.800000,31.200000,9.200000,New Orleans,22.600000,112.600000,7.600000,16.000000,47.600000,0,2446.0,2446.0,6,0,-1.0,5.400000,19.600000,17.600000,3.400000,38.800000,89.600000,21.000000,29.000000,10.400000,27.400000,104.000000,9.600000,15.200000,Phoenix,1,1.0
120,7.000000,21.500000,18.000000,4.250000,2016-11-04,2.0,35.750000,79.000000,19.000000,25.750000,8.500000,Miami,19.250000,97.500000,6.500000,14.500000,40.500000,0,NaN,777.0,5,1,-9.0,5.250000,18.750000,16.500000,3.500000,40.000000,85.250000,19.250000,24.250000,11.750000,23.500000,104.500000,10.000000,12.250000,Toronto,0,0.0
121,7.000000,20.250000,18.000000,5.500000,2016-11-04,3.0,35.000000,88.000000,21.750000,26.250000,12.750000,Toronto,21.000000,98.750000,5.750000,12.250000,47.750000,1,2390.0,2390.0,5,0,9.0,9.500000,24.750000,22.250000,6.500000,38.250000,87.250000,15.500000,22.750000,9.750000,22.500000,101.500000,6.000000,14.000000,Miami,0,0.0
122,8.200000,23.000000,18.400000,4.600000,2016-11-04,2.0,34.200000,79.000000,15.800000,18.800000,8.000000,San Antonio,19.200000,92.400000,5.800000,12.000000,39.200000,1,NaN,NaN,6,1,14.0,9.600000,24.800000,18.200000,5.000000,34.600000,76.600000,16.800000,22.600000,7.000000,20.000000,95.600000,6.400000,13.000000,Utah,0,0.0
123,7.800000,25.200000,20.200000,5.000000,2016-11-04,3.0,35.000000,79.400000,17.800000,23.000000,5.800000,Utah,20.600000,95.600000,7.200000,12.400000,39.000000,0,2103.0,2103.0,6,0,-14.0,8.800000,20.800000,21.600000,5.600000,37.600000,83.600000,21.200000,24.600000,10.800000,20.200000,105.200000,7.800000,11.000000,San Antonio,-1,-1.0
124,12.333333,27.333333,24.333333,3.666667,2016-11-04,2.0,42.000000,84.333333,16.666667,23.000000,9.666667,Atlanta,23.000000,113.000000,12.666667,16.000000,43.333333,0,NaN,NaN,4,1,-3.0,4.666667,18.333333,21.666667,4.333333,40.000000,84.000000,17.000000,22.333333,8.666667,21.000000,101.666667,10.000000,17.666667,Washington,0,0.0
125,7.500000,20.750000,22.750000,6.000000,2016-11-04,2.0,38.000000,84.750000,13.750000,18.000000,8.250000,Washington,24.750000,97.250000,11.000000,18.250000,39.750000,1,1028.0,1028.0,5,0,3.0,9.750000,27.000000,28.250000,5.250000,40.000000,84.250000,20.250000,29.250000,11.750000,18.000000,110.000000,11.250000,16.000000,Atlanta,0,0.0
126,7.000000,20.600000,20.800000,5.400000,2016-11-05,1.0,36.600000,83.800000,16.600000,21.400000,8.800000,Houston,24.400000,96.800000,10.200000,18.400000,41.000000,0,NaN,1028.0,6,1,-15.0,8.800000,26.600000,27.000000,4.800000,38.400000,84.000000,20.800000,30.600000,11.400000,19.200000,106.400000,11.400000,16.400000,Atlanta,0,0.0
127,11.000000,29.400000,18.200000,3.400000,2016-11-05,3.0,38.400000,84.600000,19.600000,24.400000,9.800000,Atlanta,21.000000,107.400000,8.600000,12.000000,39.200000,1,1276.0,1388.0,6,0,15.0,13.000000,35.200000,24.200000,3.200000,39.200000,83.200000,18.800000,26.200000,10.800000,22.400000,110.200000,7.600000,15.000000,Houston,1,0.0
128,7.000000,22.000000,20.800000,3.800000,2016-11-05,3.0,36.800000,86.000000,13.800000,17.400000,10.200000,Denver,18.800000,94.400000,8.400000,12.400000,44.600000,0,NaN,996.0,6,1,-17.0,6.600000,19.800000,21.400000,3.800000,40.000000,88.800000,13.400000,18.000000,10.600000,16.600000,100.000000,8.400000,12.600000,Detroit,0,0.0
129,6.500000,22.250000,22.500000,6.500000,2016-11-05,2.0,39.750000,91.500000,19.250000,24.250000,8.750000,Detroit,27.250000,105.250000,10.250000,12.250000,41.000000,1,2044.0,1123.0,5,0,17.0,7.250000,22.750000,18.750000,5.000000,36.750000,86.250000,25.250000,33.000000,11.250000,21.250000,106.000000,7.250000,17.250000,Denver,2,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,10.500000,30.833333,21.000000,5.166667,2016-11-08,3.0,39.000000,89.000000,15.000000,20.500000,11.666667,Atlanta,23.500000,103.500000,6.500000,14.666667,43.166667,1,NaN,695.0,7,1,4.0,13.333333,34.666667,22.833333,4.500000,39.166667,86.500000,20.666667,26.166667,10.500000,19.833333,112.333333,8.000000,12.500000,Cleveland,0,0.0
171,7.833333,23.166667,21.000000,5.666667,2016-11-08,3.0,36.666667,84.000000,15.666667,20.000000,9.333333,Cleveland,24.666667,96.833333,10.000000,19.666667,41.333333,0,1141.0,1141.0,7,0,-4.0,8.666667,25.500000,27.333333,5.000000,39.500000,84.166667,19.666667,29.500000,11.666667,18.166667,107.333333,12.333333,16.833333,Atlanta,0,0.0
172,7.714286,27.428571,23.857143,4.000000,2016-11-08,2.0,40.142857,86.428571,20.428571,27.142857,10.571429,Dallas,20.714286,108.428571,10.000000,16.714286,41.571429,1,NaN,NaN,8,1,12.0,8.714286,27.571429,20.428571,4.857143,40.857143,89.142857,19.857143,24.000000,12.285714,23.142857,110.285714,9.571429,17.000000,LA Lakers,0,0.0
173,11.000000,27.833333,20.000000,3.166667,2016-11-08,2.0,35.833333,80.500000,18.333333,25.000000,7.500000,LA Lakers,22.166667,101.000000,8.000000,17.333333,45.666667,0,2312.0,2312.0,7,0,-12.0,10.500000,33.333333,17.666667,3.666667,35.333333,86.333333,14.333333,17.333333,8.666667,21.000000,95.500000,8.000000,12.000000,Dallas,-2,-2.0
174,8.857143,25.428571,21.000000,5.428571,2016-11-08,2.0,35.857143,80.428571,20.857143,27.428571,8.571429,Denver,23.857143,101.428571,8.571429,14.857143,43.285714,0,NaN,NaN,8,1,-1.0,8.857143,26.142857,19.000000,5.428571,33.428571,84.000000,19.857143,26.000000,11.285714,24.714286,95.571429,8.571429,15.285714,Memphis,0,0.0
175,6.833333,22.333333,23.833333,6.500000,2016-11-08,2.0,40.000000,90.000000,18.333333,23.333333,9.166667,Memphis,24.833333,105.166667,8.833333,12.166667,41.666667,1,1688.0,2118.0,7,0,1.0,7.833333,23.166667,18.500000,4.666667,37.000000,87.166667,23.666667,30.500000,11.666667,20.500000,105.500000,7.333333,17.000000,Denver,1,-1.0
176,7.571429,24.571429,19.142857,4.428571,2016-11-08,2.0,39.142857,89.857143,23.428571,29.428571,11.000000,Phoenix,20.714286,109.285714,9.571429,12.571429,47.428571,0,NaN,3613.0,8,1,-3.0,11.285714,29.285714,21.571429,5.000000,38.571429,85.142857,19.857143,24.285714,6.714286,23.857143,108.285714,7.857143,14.571429,Portland,0,-2.0
177,8.142857,24.714286,22.857143,6.142857,2016-11-08,2.0,40.714286,90.000000,23.714286,31.285714,9.571429,Portland,22.285714,113.285714,7.571429,15.285714,47.714286,1,2149.0,1554.0,8,0,3.0,5.857143,20.285714,18.000000,3.000000,39.142857,90.285714,21.571429,28.714286,10.714286,27.714286,105.714286,9.000000,15.428571,Phoenix,-1,0.0
178,9.000000,26.000000,23.000000,6.250000,2016-11-08,2.0,36.000000,80.125000,21.875000,30.000000,11.500000,New Orleans,22.875000,102.875000,8.250000,12.625000,43.125000,0,NaN,4100.0,9,1,-8.0,7.250000,21.875000,21.625000,3.625000,35.750000,80.875000,19.375000,25.250000,9.875000,23.250000,98.125000,6.500000,14.000000,Sacramento,0,-3.0
179,9.857143,27.714286,24.857143,4.142857,2016-11-08,1.0,39.714286,89.285714,19.428571,23.571429,10.285714,Sacramento,21.428571,108.714286,9.000000,15.571429,50.714286,1,3662.0,132.0,8,0,8.0,7.000000,24.857143,24.000000,6.142857,37.857143,87.857143,18.428571,25.142857,7.857143,21.714286,101.142857,9.428571,13.428571,New Orleans,-2,0.0
180,8.285714,25.857143,21.000000,5.000000,2016-11-09,1.0,36.714286,86.142857,16.428571,20.714286,9.857143,Chicago,24.000000,98.142857,10.285714,17.714286,41.000000,0,NaN,1141.0,8,1,-8.0,9.000000,26.000000,26.571429,4.857143,39.714286,83.714286,19.285714,28.714286,11.571429,18.571429,107.714286,10.714286,17.142857,Atlanta,0,0.0
181,9.142857,25.857143,26.428571,5.285714,2016-11-09,2.0,40.000000,86.714286,11.285714,15.714286,8.857143,Atlanta,20.857143,100.428571,8.142857,11.571429,38.285714,1,1152.0,1152.0,8,0,8.0,7.857143,21.857143,23.428571,5.142857,39.142857,85.714286,21.142857,26.142857,14.571429,16.571429,107.285714,6.857143,14.000000,Chicago,1,1.0
182,10.333333,31.333333,22.166667,4.166667,2016-11-09,2.0,36.500000,87.666667,13.166667,18.000000,8.666667,Utah,23.666667,96.500000,6.333333,15.000000,45.833333,0,NaN,NaN,7,1,-6.0,9.666667,28.833333,24.666667,5.833333,37.166667,84.833333,21.333333,27.166667,8.166667,18.166667,105.333333,8.333333,11.333333,Charlotte,0,0.0
183,7.750000,22.000000,17.875000,4.750000,2016-11-09,2.0,35.125000,79.750000,16.375000,19.625000,8.500000,Charlotte,20.750000,94.375000,6.375000,12.625000,40.750000,1,3271.0,868.0,9,0,6.0,9.750000,24.250000,18.375000,5.500000,35.500000,77.875000,17.625000,24.000000,7.625000,20.000000,98.375000,6.875000,12.125000,Utah,2,0.0
184,9.142857,26.571429,24.000000,4.285714,2016-11-09,2.0,41.000000,90.857143,18.285714,24.428571,12.857143,Dallas,20.142857,109.428571,9.714286,15.142857,45.857143,0,NaN,NaN,8,1,-21.0,9.857143,30.428571,29.571429,5.428571,42.714286,87.571429,17.571429,22.000000,9.285714,18.714286,112.857143,10.714286,15.857143,Golden State,0,0.0
185,10.857143,27.571429,20.000000,2.857143,2016-11-09,1.0,36.142857,80.142857,17.285714,23.428571,7.571429,Golden State,21.714286,100.428571,7.714286,17.142857,44.428571,1,2770.0,598.0,8,0,21.0,10.428571,31.857143,18.571429,3.714286,36.428571,85.714286,14.142857,17.000000,8.571429,19.714286,97.428571,8.428571,11.857143,Dallas,-2,0.0
186,10.428571,29.571429,24.714286,5.000000,2016-11-09,2.0,41.428571,87.285714,19.714286,23.571429,10.571429,Philadelphia,20.000000,113.000000,8.571429,15.714286,45.142857,0,NaN,925.0,8,1,-7.0,9.285714,24.428571,26.285714,6.285714,41.714286,89.571429,15.571429,20.857143,10.142857,21.285714,108.285714,9.428571,15.285714,Indiana,0,0.0
187,9.166667,26.333333,24.500000,5.833333,2016-11-09,2.0,40.333333,87.833333,15.166667,21.666667,10.166667,Indiana,17.666667,105.000000,8.833333,12.166667,46.166667,1,1035.0,1035.0,7,0,7.0,9.000000,26.500000,20.833333,6.000000,34.833333,82.500000,12.666667,17.500000,6.333333,21.333333,91.333333,6.833333,16.666667,Philadelphia,0,0.0
188,6.285714,19.285714,18.285714,3.714286,2016-11-09,2.0,32.571429,80.857143,18.000000,24.142857,9.571429,Portland,25.428571,89.428571,6.428571,16.714286,44.857143,0,NaN,NaN,8,1,-31.0,8.142857,24.142857,20.428571,5.142857,37.857143,84.714286,20.428571,27.285714,8.857143,20.428571,104.285714,10.285714,11.714286,LA Clippers,0,0.0
189,7.500000,24.125000,19.000000,4.125000,2016-11-09,1.0,39.625000,89.375000,24.000000,29.875000,11.500000,LA Clippers,21.500000,110.750000,9.625000,13.000000,46.625000,1,1554.0,1554.0,9,0,31.0,11.625000,29.500000,21.625000,4.875000,39.375000,84.625000,19.875000,24.750000,6.750000,24.250000,110.250000,7.500000,15.250000,Portland,0,0.0
190,10.166667,26.833333,21.666667,4.666667,2016-11-09,3.0,40.000000,86.166667,19.666667,25.833333,12.166667,Brooklyn,20.666667,109.833333,7.333333,12.833333,44.833333,0,NaN,NaN,7,1,-14.0,7.833333,21.833333,21.166667,5.333333,38.666667,84.333333,17.000000,23.166667,9.166667,23.000000,102.166667,6.833333,12.333333,New York,0,0.0
191,9.714286,26.857143,24.857143,5.857143,2016-11-09,1.0,40.428571,90.000000,17.142857,21.857143,11.285714,New York,20.571429,107.714286,10.285714,15.714286,46.571429,1,8.0,8.0,8,0,14.0,10.714286,34.000000,20.857143,4.000000,38.428571,86.142857,18.000000,21.857143,10.142857,20.428571,105.571429,9.285714,17.000000,Brooklyn,0,0.0
192,6.857143,24.571429,18.428571,7.000000,2016-11-09,2.0,36.714286,87.000000,17.571429,24.285714,10.714286,Toronto,20.142857,97.857143,9.714286,15.714286,42.428571,1,NaN,NaN,8,1,10.0,7.285714,22.857143,20.428571,5.142857,39.285714,89.571429,16.857143,24.285714,11.571429,21.714286,102.714286,9.428571,16.571429,Oklahoma City,0,0.0
193,7.000000,21.666667,18.666667,4.500000,2016-11-09,3.0,35.166667,80.333333,18.166667,24.833333,9.833333,Oklahoma City,20.166667,95.500000,6.666667,13.333333,42.000000,0,2068.0,2068.0,7,0,-10.0,5.666667,21.666667,17.000000,4.000000,37.833333,84.833333,19.500000,24.333333,12.166667,22.666667,100.833333,8.833333,11.666667,Toronto,-1,-1.0
194,6.714286,20.857143,21.857143,5.000000,2016-11-09,2.0,40.714286,88.000000,13.857143,19.000000,12.142857,Minnesota,19.571429,102.000000,6.428571,11.142857,47.285714,1,NaN,1856.0,8,1,16.0,8.000000,26.428571,23.285714,4.857143,35.571429,86.857143,13.714286,19.857143,11.857143,17.000000,92.857143,5.857143,12.285714,Orlando,0,1.0
195,8.166667,24.166667,20.166667,6.000000,2016-11-09,1.0,38.000000,80.500000,19.333333,26.000000,8.833333,Orlando,22.500000,103.500000,8.833333,16.333333,39.333333,0,2523.0,1730.0,7,0,-16.0,8.333333,21.500000,20.000000,5.000000,37.166667,83.000000,20.333333,27.500000,13.000000,22.000000,103.000000,8.000000,15.166667,Minnesota,1,0.0
196,8.875000,25.500000,22.750000,5.875000,2016-11-09,1.0,41.250000,88.875000,23.250000,30.875000,9.250000,Detroit,22.875000,114.625000,7.250000,15.875000,46.125000,0,NaN,2149.0,9,1,-7.0,6.000000,20.375000,18.000000,2.875000,39.625000,89.750000,22.375000,29.250000,11.250000,27.625000,107.625000,9.125000,15.500000,Phoenix,0,1.0
197,7.857143,22.857143,21.000000,4.000000,2016-11-09,2.0,36.571429,85.714286,15.000000,18.428571,9.857143,Phoenix,18.428571,96.000000,8.285714,12.571429,45.285714,1,3196.0,599.0,8,0,7.0,6.285714,18.714286,20.428571,4.285714,38.571429,87.142857,14.428571,19.714286,10.428571,16.857143,97.857143,8.000000,12.428571,Detroit,-2,1.0