In [32]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = 999

In [298]:
players= pd.read_csv('NBA_player_data_2016.csv')

In [299]:
teams = pd.read_csv('team_boxscores_2016.csv')

In [300]:
teams.drop('Unnamed: 0', inplace=True,axis=1)
players.drop('Unnamed: 0', inplace=True,axis=1)

In [301]:
teams['Date']=teams['Game_Id'].apply(lambda x: x.split('_')[0])

In [302]:
teams['Date'] = pd.to_datetime(teams['Date'])

In [303]:
matrix = teams.as_matrix()

In [304]:
##get a list of all the ball clubs
clubs = []
for el in matrix:
    clubs.append(el[16])
clubs = list(set(clubs))

In [307]:
##initialize last date at 0
last_date = {}
for team in clubs:
    last_date[team]=0


##calculate how many days since last game
new_matrix = []
for row in matrix:
    row = list(row)
    if last_date[row[16]] == 0:
        row.append(np.nan)
    else:
        row.append((row[32]-last_date[row[16]]).days)
    new_matrix.append(row)
    last_date[row[16]] = row[32]

##add Days_Since to column names
columns = ['3P', '3PA', 'AST', 'BLK', 'FG', 'FGA', 'FT', 'FTA', 'ORB', 'PF',
       'PTS', 'STL', 'TOV', 'TRB', 'is_Home', 'Team_Win', 'Team', 'opp_3P',
       'opp_3PA', 'opp_AST', 'opp_BLK', 'opp_FG', 'opp_FGA', 'opp_FT',
       'opp_FTA', 'opp_PTS', 'opp_ORB', 'opp_STL', 'opp_PF', 'opp_TOV',
       'opponent', 'Game_Id', 'Date','Days_Since']
##add the delta column to new data frame
df = pd.DataFrame(new_matrix,columns = columns)

In [309]:
##dictionary of time zones
time_zone_dict = {}
for team in clubs:
    time_zone_dict[team]=0
for team in clubs:
    if team in ['Phoenix','Denver', 'Utah']:
        time_zone_dict[team]+= 1
    elif team in ['Chicago','Oklahoma City','Milwaukee','Houston','Dallas',
                  'San Antonio','Memphis','Minnesota','New Orleans']:
        time_zone_dict[team]+=2
    elif team in ['Atlanta','Boston','Charlotte','Brooklyn', 'Cleveland','Detroit',
                 'Indiana', 'Miami','New York', 'Orlando','Philadelphia','Washington','Toronto']:
        time_zone_dict[team]+=3
    else:
        pass

In [310]:
##correct for wrong is_home function
df['is_Home'] = df['is_Home'].map({0:1,1:0})

In [311]:
##grab the location from the game id
df['game_Location'] = df['Game_Id'].apply(lambda x: x.split("_")[1])

In [313]:
##make time zone function
def time_zone(row):
    return time_zone_dict[row['game_Location']]

##add time zone to data frame
df['Time_Zone'] =df.apply(time_zone, axis=1)

In [49]:
import requests
import json

In [314]:
##change location column to accurate google locations
def change_Locations(row):
    if row['game_Location'] in ['LA Clippers', 'LA Lakers']:
        return 'Los Angeles'
    elif row['game_Location'] == 'Golden State':
        return 'Oakland'
    elif row['game_Location'] == 'Utah':
        return "Salt Lake City"
    elif row['game_Location'] =='Indiana':
        return 'Indianapolis'
    elif row['game_Location'] =='Minnesota':
        return 'Minneapolis'
    elif row['game_Location'] =='Washington':
        return 'Washington DC'
    else:
        return row['game_Location']
df['game_Location'] = df.apply(change_Locations, axis=1)

In [102]:
##call google map API to get distances between stadiums and make them a dictionary
dict_distances = {}
for i,loc1 in enumerate(df['game_Location'].unique()):
    print loc1
    for k in range(i,len(df['game_Location'].unique())):
        loc2 = df['game_Location'].unique()[k]
        if loc1!=loc2:
            string = 'https://maps.googleapis.com/maps/api/distancematrix/json?origins={}&destinations={}&key=AIzaSyAtEyirTGKvMkeAPCThQYY83-a1Dzq6SHo'.format(loc1,loc2)
            response = requests.get(string)
            dict_distances[loc1+'-'+loc2] = response.content.split('\"text" : \"')[1].split('\"')[0]

Cleveland
Oakland
Portland
Boston
Indianapolis
Los Angeles
Memphis
Milwaukee
New Orleans
Orlando
Philadelphia
Phoenix
Toronto
Atlanta
Chicago
Sacramento
Brooklyn
Dallas
Detroit
Miami
Oklahoma City
Salt Lake City
Charlotte
Denver
New York
San Antonio
Houston
Minneapolis
Washington DC

In [316]:
## do the same thing as game location
def team_location(row):
    if row['Team'] in ['LA Clippers', 'LA Lakers']:
        return 'Los Angeles'
    elif row['Team'] == 'Golden State':
        return 'Oakland'
    elif row['Team'] == 'Utah':
        return "Salt Lake City"
    elif row['Team'] =='Indiana':
        return 'Indianapolis'
    elif row['Team'] =='Minnesota':
        return 'Minneapolis'
    elif row['Team'] =='Washington':
        return 'Washington DC'
    else:
        return row['Team']

df['team_location'] = df.apply(team_location,axis=1)

##use the dictionary created to calculated distances between home and game
def distance_from_home(row):
    if row['game_Location'] ==row['team_location']:
        return np.nan
    else:
        string = row['game_Location']+'-'+row['team_location']
        if string in dict_distances:
            return dict_distances[string]
        else:
            return dict_distances[row['team_location']+'-'+row['game_Location']]
df['distance_From_Home'] = df.apply(distance_from_home,axis=1)

In [318]:
##turn distances into necessary form 
def fix_Distance(row):
    if row['is_Home']:
        return row['distance_From_Home']
    else:
        try:
            return row['distance_From_Home'].split(' ')[0].replace(',','')
        except:
            return row['distance_From_Home']
        
df['distance_From_Home'] = df.apply(fix_Distance,axis=1)

df['distance_From_Home']=df['distance_From_Home'].apply(float)

In [319]:
#since we will deal with team time zones we need to change the name
df['game_time_zone'] =df['Time_Zone']
df.drop('Time_Zone', axis=1, inplace=True)

In [320]:
def team_time_zone(row):
    return time_zone_dict[row['Team']]
df['team_time_zone'] = df.apply(team_time_zone,axis=1)

In [321]:
df['time_zone_diff'] = df['game_time_zone']-df['team_time_zone']

In [324]:
#The next process will be repeated. I am keeping track of the last game each team played
#and gathering data on those games. 
#This cell is for the last game location.
matrix = df.as_matrix()


##initialize last_opp and last_time_zone at 0
last_opp = {}
for team in clubs:
    last_opp[team]=0


##calculate how many days since last game
new_matrix = []
for row in matrix:
    row = list(row)
    if last_opp[row[16]] == 0:
        row.append(np.nan)
    else:
        row.append(last_opp[row[16]])
    new_matrix.append(row)
    last_opp[row[16]] = row[34]

columns = ['3P', '3PA', 'AST', 'BLK', 'FG', 'FGA', 'FT', 'FTA', 'ORB', 'PF',
       'PTS', 'STL', 'TOV', 'TRB', 'is_Home', 'Team_Win', 'Team', 'opp_3P',
       'opp_3PA', 'opp_AST', 'opp_BLK', 'opp_FG', 'opp_FGA', 'opp_FT',
       'opp_FTA', 'opp_PTS', 'opp_ORB', 'opp_STL', 'opp_PF', 'opp_TOV',
       'opponent', 'Game_Id', 'Date', 'Days_Since', 'game_Location',
       'team_location', 'distance_From_Home', 'game_time_zone',
       'team_time_zone', 'time_zone_diff_From_home','last_loc']

##add the last loc column to new data frame
df= pd.DataFrame(new_matrix,columns = columns)

In [328]:
##calculate the distance from the last location
def distance_from_last_game(row):
    if row['last_loc']==row['game_Location']:
        return np.nan
    else:
        try:
            string = row['game_Location']+'-'+row['last_loc']
            if string in dict_distances:
                return dict_distances[string]
            else:
                return dict_distances[row['last_loc']+'-'+row['game_Location']]
        except:
            return np.nan
df['distance_From_Last_Game'] = df.apply(distance_from_last_game,axis=1)

In [330]:
##convert this distance to a float
def fix_Distance(row):
    try:
        return row['distance_From_Last_Game'].split(' ')[0].replace(',','')
    except:
        return row['distance_From_Last_Game']
        
df['distance_From_Last_Game'] = df.apply(fix_Distance,axis=1)

df['distance_From_Last_Game']=df['distance_From_Last_Game'].apply(float)

In [339]:
##initialize last_time_zone at -1
matrix=df.as_matrix()
last_time = {}
for team in clubs:
    last_time[team]=-1


##calculate how many days since last game
new_matrix = []
for row in matrix:
    row = list(row)
    if last_time[row[16]] == -1:
        row.append(np.nan)
    else:
        row.append(last_time[row[16]])
    new_matrix.append(row)
    last_time[row[16]] = row[37]

columns = ['3P', '3PA', 'AST', 'BLK', 'FG', 'FGA', 'FT', 'FTA', 'ORB', 'PF',
       'PTS', 'STL', 'TOV', 'TRB', 'is_Home', 'Team_Win', 'Team', 'opp_3P',
       'opp_3PA', 'opp_AST', 'opp_BLK', 'opp_FG', 'opp_FGA', 'opp_FT',
       'opp_FTA', 'opp_PTS', 'opp_ORB', 'opp_STL', 'opp_PF', 'opp_TOV',
       'opponent', 'Game_Id', 'Date', 'Days_Since', 'game_Location',
       'team_location', 'distance_From_Home', 'game_time_zone',
       'team_time_zone', 'time_zone_diff_From_home', 'last_loc',
       'distance_From_Last_Game','last_time_zone']

##add the last loc column to new data frame
df= pd.DataFrame(new_matrix,columns = columns)

In [341]:
##calculate the time zone difference from the last game
df['time_zone_diff_From_last'] = df['game_time_zone']- df['last_time_zone']

,3P,3PA,AST,BLK,FG,FGA,FT,FTA,ORB,PF,PTS,STL,TOV,TRB,is_Home,Team_Win,Team,opp_3P,opp_3PA,opp_AST,opp_BLK,opp_FG,opp_FGA,opp_FT,opp_FTA,opp_PTS,opp_ORB,opp_STL,opp_PF,opp_TOV,opponent,Game_Id,Date,Days_Since,game_Location,team_location,distance_From_Home,game_time_zone,team_time_zone,time_zone_diff_From_home,last_loc,distance_From_Last_Game,last_time_zone,time_zone_diff_From_last
0,9.0,27.0,17.0,6.0,32.0,87.0,15.0,20.0,13.0,22.0,88.0,6.0,18.0,42.0,1,0,Cleveland,13.0,35.0,31.0,5.0,45.0,94.0,14.0,19.0,117.0,11.0,12.0,22.0,14.0,New York,10/25/2016_Cleveland_New York,2016-10-25,NaN,Cleveland,Cleveland,NaN,3,3,0,NaN,NaN,NaN,NaN
1,13.0,35.0,31.0,5.0,45.0,94.0,14.0,19.0,11.0,22.0,117.0,12.0,14.0,51.0,0,1,New York,9.0,27.0,17.0,6.0,32.0,87.0,15.0,20.0,88.0,13.0,6.0,22.0,18.0,Cleveland,10/25/2016_Cleveland_New York,2016-10-25,NaN,Cleveland,New York,744.0,3,3,0,NaN,NaN,NaN,NaN
2,12.0,24.0,25.0,3.0,47.0,98.0,23.0,26.0,21.0,19.0,129.0,13.0,13.0,55.0,1,1,Golden State,7.0,33.0,24.0,6.0,40.0,85.0,13.0,18.0,100.0,8.0,11.0,19.0,16.0,San Antonio,10/25/2016_Golden State_San Antonio,2016-10-25,NaN,Oakland,Oakland,NaN,0,0,0,NaN,NaN,NaN,NaN
3,7.0,33.0,24.0,6.0,40.0,85.0,13.0,18.0,8.0,19.0,100.0,11.0,16.0,35.0,0,0,San Antonio,12.0,24.0,25.0,3.0,47.0,98.0,23.0,26.0,129.0,21.0,13.0,19.0,13.0,Golden State,10/25/2016_Golden State_San Antonio,2016-10-25,NaN,Oakland,San Antonio,2771.0,0,2,-2,NaN,NaN,NaN,NaN
4,8.0,24.0,19.0,5.0,40.0,82.0,16.0,16.0,6.0,19.0,104.0,9.0,11.0,31.0,1,0,Portland,13.0,19.0,22.0,3.0,39.0,75.0,22.0,22.0,113.0,5.0,5.0,18.0,12.0,Utah,10/25/2016_Portland_Utah,2016-10-25,NaN,Portland,Portland,NaN,0,0,0,NaN,NaN,NaN,NaN