In [552]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = 999
pd.options.display.max_rows= 999
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [553]:
teams = pd.read_csv('team_boxscores_2013.csv')

In [554]:
teams.head()

,Unnamed: 0,3P,3PA,AST,BLK,FG,FGA,FT,FTA,ORB,PF,PTS,STL,TOV,TRB,is_Home,Team_Win,Team,opp_TRB,opp_3P,opp_3PA,opp_AST,opp_BLK,opp_FG,opp_FGA,opp_FT,opp_FTA,opp_PTS,opp_ORB,opp_STL,opp_PF,opp_TOV,opponent,Game_Id
0,0,9.0,19.0,17.0,6.0,36.0,93.0,6.0,10.0,13.0,26.0,87.0,10.0,17.0,39.0,0,0,Indiana,44.0,7.0,17.0,17.0,18.0,34.0,71.0,22.0,32.0,97.0,10.0,4.0,13.0,20.0,Orlando,10/29/2013_Indiana_Orlando
1,1,7.0,17.0,17.0,18.0,34.0,71.0,22.0,32.0,10.0,13.0,97.0,4.0,20.0,44.0,1,1,Orlando,39.0,9.0,19.0,17.0,6.0,36.0,93.0,6.0,10.0,87.0,13.0,10.0,26.0,17.0,Indiana,10/29/2013_Indiana_Orlando
2,2,8.0,21.0,27.0,4.0,41.0,83.0,13.0,23.0,10.0,21.0,103.0,11.0,16.0,40.0,0,0,LA Lakers,52.0,14.0,29.0,23.0,6.0,42.0,93.0,18.0,28.0,116.0,18.0,8.0,23.0,19.0,LA Clippers,10/29/2013_LA Lakers_LA Clippers
3,3,14.0,29.0,23.0,6.0,42.0,93.0,18.0,28.0,18.0,23.0,116.0,8.0,19.0,52.0,1,1,LA Clippers,40.0,8.0,21.0,27.0,4.0,41.0,83.0,13.0,23.0,103.0,10.0,11.0,21.0,16.0,LA Lakers,10/29/2013_LA Lakers_LA Clippers
4,4,7.0,26.0,23.0,4.0,35.0,83.0,18.0,23.0,11.0,27.0,95.0,11.0,18.0,41.0,0,0,Miami,40.0,11.0,20.0,26.0,7.0,37.0,72.0,22.0,29.0,107.0,5.0,10.0,21.0,18.0,Chicago,10/29/2013_Miami_Chicago

In [555]:
##drop added index column
teams.drop('Unnamed: 0', inplace=True,axis=1)

In [556]:
##add date feature
teams['Date']=teams['Game_Id'].apply(lambda x: x.split('_')[0])

In [557]:
##convert to datetime
teams['Date'] = pd.to_datetime(teams['Date'])

In [558]:
matrix = teams.as_matrix()

In [559]:
##get a list of all the teams
clubs = []
for el in matrix:
    clubs.append(el[16])
clubs = list(set(clubs))

In [560]:
teams.shape

(2460, 34)

In [561]:
##This cell calculates how many days since the last game.

##initialize a dictionary of last dates and set all to 0
last_date = {}
for team in clubs:
    last_date[team]=0


##calculate how many days since last game
new_matrix = []
for row in matrix:
    row = list(row)
    if last_date[row[16]] == 0:
        row.append(np.nan)
    else:
        row.append((row[33]-last_date[row[16]]).days)
    new_matrix.append(row)
    last_date[row[16]] = row[33]

##add Days_Since to column names
columns = ['3P', '3PA', 'AST', 'BLK', 'FG', 'FGA', 'FT', 'FTA', 'ORB', 'PF',
       'PTS', 'STL', 'TOV', 'TRB', 'is_Home', 'Team_Win', 'Team', 'opp_TRB','opp_3P',
       'opp_3PA', 'opp_AST', 'opp_BLK', 'opp_FG', 'opp_FGA', 'opp_FT',
       'opp_FTA', 'opp_PTS', 'opp_ORB', 'opp_STL', 'opp_PF', 'opp_TOV',
       'opponent', 'Game_Id', 'Date','Days_Since']
##add the delta column back to new data frame
df = pd.DataFrame(new_matrix,columns = columns)

In [562]:
##dictionary of time zones
time_zone_dict = {}
for team in clubs:
    time_zone_dict[team]=0
for team in clubs:
    if team in ['Phoenix','Denver', 'Utah']:
        time_zone_dict[team]+= 1
    elif team in ['Chicago','Oklahoma City','Milwaukee','Houston','Dallas',
                  'San Antonio','Memphis','Minnesota','New Orleans']:
        time_zone_dict[team]+=2
    elif team in ['Atlanta','Boston','Charlotte','Brooklyn', 'Cleveland','Detroit',
                 'Indiana', 'Miami','New York', 'Orlando','Philadelphia','Washington','Toronto']:
        time_zone_dict[team]+=3
    else:
        pass
    
##grab the location from the game id
df['game_Location'] = df['Game_Id'].apply(lambda x: x.split("_")[1])

##make time zone function
def time_zone(row):
    return time_zone_dict[row['game_Location']]

##add time zone to data frame
df['Time_Zone'] =df.apply(time_zone, axis=1)

In [563]:
import requests
import json

In [564]:
##change location column to accurate google locations. This is for the next cell to call google API
def change_Locations(row):
    if row['game_Location'] in ['LA Clippers', 'LA Lakers']:
        return 'Los Angeles'
    elif row['game_Location'] == 'Golden State':
        return 'Oakland'
    elif row['game_Location'] == 'Utah':
        return "Salt Lake City"
    elif row['game_Location'] =='Indiana':
        return 'Indianapolis'
    elif row['game_Location'] =='Minnesota':
        return 'Minneapolis'
    elif row['game_Location'] =='Washington':
        return 'Washington DC'
    else:
        return row['game_Location']
df['game_Location'] = df.apply(change_Locations, axis=1)

In [565]:
##call google map API to get distances between stadiums and make them a dictionary
dict_distances = {}
for i,loc1 in enumerate(df['game_Location'].unique()):
    for k in range(i,len(df['game_Location'].unique())):
        loc2 = df['game_Location'].unique()[k]
        if loc1!=loc2:
            string = 'https://maps.googleapis.com/maps/api/distancematrix/json?origins={}&destinations={}&key=AIzaSyAtEyirTGKvMkeAPCThQYY83-a1Dzq6SHo'.format(loc1,loc2)
            response = requests.get(string)
            dict_distances[loc1+'-'+loc2] = response.content.split('\"text" : \"')[1].split('\"')[0]

In [566]:
## do the same thing as game location
def team_location(row):
    if row['Team'] in ['LA Clippers', 'LA Lakers']:
        return 'Los Angeles'
    elif row['Team'] == 'Golden State':
        return 'Oakland'
    elif row['Team'] == 'Utah':
        return "Salt Lake City"
    elif row['Team'] =='Indiana':
        return 'Indianapolis'
    elif row['Team'] =='Minnesota':
        return 'Minneapolis'
    elif row['Team'] =='Washington':
        return 'Washington DC'
    else:
        return row['Team']

df['team_location'] = df.apply(team_location,axis=1)

In [567]:
##use the dictionary created to calculated distances between home and game
def distance_from_home(row):
    if row['game_Location'] ==row['team_location']:
        return np.nan
    else:
        string = row['game_Location']+'-'+row['team_location']
        if string in dict_distances:
            return dict_distances[string]
        else:
            return dict_distances[row['team_location']+'-'+row['game_Location']]
df['distance_From_Home'] = df.apply(distance_from_home,axis=1)

In [568]:
##turn distances into necessary form 
def fix_Distance(row):
    if row['is_Home']:
        return np.nan
    else:
        try:
            return row['distance_From_Home'].split(' ')[0].replace(',','')
        except:
            return row['distance_From_Home']

df['distance_From_Home'] = df.apply(fix_Distance,axis=1)

In [569]:
#since we will deal with team time zones we need to change the name
df['game_time_zone'] =df['Time_Zone']
df.drop('Time_Zone', axis=1, inplace=True)

In [570]:
##add the time zone of the team's home stadium
def team_time_zone(row):
    return time_zone_dict[row['Team']]
df['team_time_zone'] = df.apply(team_time_zone,axis=1)

In [571]:
##time zone differential between where the game is and the team's home location
df['time_zone_diff'] = df['game_time_zone']-df['team_time_zone']

In [572]:
##This cell adds the last location to the dataframe. So, if GS played Dallas in the previous game,
##That will be added as a feature.
matrix = df.as_matrix()


##initialize last_opp to check to see if a team has played a game.
last_opp = {}
for team in clubs:
    last_opp[team]=0


##calculate how many days since last game
new_matrix = []
for row in matrix:
    row = list(row)
    if last_opp[row[16]] == 0:
        row.append(np.nan)
    else:
        row.append(last_opp[row[16]])
    new_matrix.append(row)
    last_opp[row[16]] = row[35]

columns = ['3P', '3PA', 'AST', 'BLK', 'FG', 'FGA', 'FT', 'FTA', 'ORB', 'PF',
       'PTS', 'STL', 'TOV', 'TRB', 'is_Home', 'Team_Win', 'Team', 'opp_TRB','opp_3P',
       'opp_3PA', 'opp_AST', 'opp_BLK', 'opp_FG', 'opp_FGA', 'opp_FT',
       'opp_FTA', 'opp_PTS', 'opp_ORB', 'opp_STL', 'opp_PF', 'opp_TOV',
       'opponent', 'Game_Id', 'Date', 'Days_Since', 'game_Location',
       'team_location', 'distance_From_Home', 'game_time_zone',
       'team_time_zone', 'time_zone_diff_From_home','last_loc']

##add the last loc column to new data frame
df= pd.DataFrame(new_matrix,columns = columns)

In [573]:
##calculate the distance from the last location
def distance_from_last_game(row):
    if row['last_loc']==row['game_Location']:
        return np.nan
    else:
        try:
            string = row['game_Location']+'-'+row['last_loc']
            if string in dict_distances:
                return dict_distances[string]
            else:
                return dict_distances[row['last_loc']+'-'+row['game_Location']]
        except:
            return np.nan
df['distance_From_Last_Game'] = df.apply(distance_from_last_game,axis=1)

In [574]:
##convert this distance to a float
def fix_Distance(row):
    try:
        return row['distance_From_Last_Game'].split(' ')[0].replace(',','')
    except:
        return row['distance_From_Last_Game']
        
df['distance_From_Last_Game'] = df.apply(fix_Distance,axis=1)

df['distance_From_Last_Game']=df['distance_From_Last_Game'].apply(float)

In [575]:
##Calculate the last time zone that the team played in.

##initialize last_time_zone at -1
matrix=df.as_matrix()
last_time = {}
for team in clubs:
    last_time[team]=-1


##calculate how many days since last game
new_matrix = []
for row in matrix:
    row = list(row)
    if last_time[row[16]] == -1:
        row.append(np.nan)
    else:
        row.append(last_time[row[16]])
    new_matrix.append(row)
    last_time[row[16]] = row[38]

columns = ['3P', '3PA', 'AST', 'BLK', 'FG', 'FGA', 'FT', 'FTA', 'ORB', 'PF',
       'PTS', 'STL', 'TOV', 'TRB', 'is_Home', 'Team_Win', 'Team','opp_TRB', 'opp_3P',
       'opp_3PA', 'opp_AST', 'opp_BLK', 'opp_FG', 'opp_FGA', 'opp_FT',
       'opp_FTA', 'opp_PTS', 'opp_ORB', 'opp_STL', 'opp_PF', 'opp_TOV',
       'opponent', 'Game_Id', 'Date', 'Days_Since', 'game_Location',
       'team_location', 'distance_From_Home', 'game_time_zone',
       'team_time_zone', 'time_zone_diff_From_home', 'last_loc',
       'distance_From_Last_Game','last_time_zone']

##add the last loc column to new data frame
df= pd.DataFrame(new_matrix,columns = columns)

In [576]:
##calculate the time zone difference from the last game
df['time_zone_diff_From_last'] = df['game_time_zone']- df['last_time_zone']

In [577]:
##this adds an index for how many games a team has already played
##it can be used to filter out the first game or first 20 games to be used as data.
matrix = df.as_matrix()


game = {}
for team in clubs:
    game[team]=1


new_matrix = []
for row in matrix:
    row = list(row)
    if game[row[16]] == 1:
        row.append(1)
    else:
        row.append(game[row[16]])
    new_matrix.append(row)
    game[row[16]] +=1

columns = ['3P', '3PA', 'AST', 'BLK', 'FG', 'FGA', 'FT', 'FTA', 'ORB', 'PF',
       'PTS', 'STL', 'TOV', 'TRB', 'is_Home', 'Team_Win', 'Team', 'opp_TRB','opp_3P',
       'opp_3PA', 'opp_AST', 'opp_BLK', 'opp_FG', 'opp_FGA', 'opp_FT',
       'opp_FTA', 'opp_PTS', 'opp_ORB', 'opp_STL', 'opp_PF', 'opp_TOV',
       'opponent', 'Game_Id', 'Date', 'Days_Since', 'game_Location',
       'team_location', 'distance_From_Home', 'game_time_zone',
       'team_time_zone', 'time_zone_diff_From_home','last_loc','distance_From_Last_Game',
        'last_time_zone','time_zone_diff_From_last','game_number']

##add the last loc column to new data frame
df= pd.DataFrame(new_matrix,columns = columns)

In [578]:
##using the last cell to create a boolean if it is the opening game
def is_opener(row):
    return int(row['game_number']==1)
df['is_Opener'] = df.apply(is_opener,axis=1)

In [579]:
##this is the value I will be trying to predict
df['line'] = df['PTS']-df['opp_PTS']

In [580]:
##somehow team and opponent got mixed up. DOUBLE CHECK THIS CELL
series = df['Team']
df['Team'] = df['opponent']
df['opponent'] = series

In [581]:
##try things here:

In [582]:
numeric_cols = ['FG','3P','3PA','FGA','FT','FTA','ORB','TOV','TRB', 'PTS',
             'opp_FG','opp_3P','opp_3PA','opp_FGA','opp_FT','opp_FTA','opp_ORB','opp_TOV','opp_TRB','opp_PTS','line','Team_Win']
test_df = df[numeric_cols]

Now, we have a dataframe with sufficient data to start doing some feature engineering. Any other features that I want will be added in the cell above

In [583]:
##calculate the cumulative advanced stats up to a given date
def cum_advanced_stats(team,date,game_Id):
    subdata = df[(df['Team']==team) &(df['Date']<date)]
    r = {}
    features = subdata[numeric_cols]
    row = pd.DataFrame(features.expanding().mean(),columns=numeric_cols).iloc[-1]
    r['Game_Id'] = game_Id
    r['win%'] = row['Team_Win']
    r['Team'] = team
    r['ppg'] = row['PTS']
    r['EFG%'] = (row['FG']+.5*row['3P'])/row['FGA']
    r['TOV%'] = row['TOV']/(row['FGA']+row['FTA']/2.25+row['TOV'])
    r['ORB%'] = (row['ORB']/(row['ORB']+row['opp_TRB']-row['opp_ORB']))
    r['DRB%'] = (row['TRB']-row['ORB'])/(row['TRB']-row['ORB']+row['opp_ORB'])
    r['3P'] = row['3P']
    r['3PA'] = row['3PA']
    r['3p%'] = float(r['3P'])/row['3PA']
    r['FT_factor'] = row['FT']/row['FGA']
    r['opp_EFG%'] = (row['opp_FG']+.5*row['opp_3P'])/row['opp_FGA']
    r['opp_TOV%'] = row['opp_TOV']/(row['opp_FGA']+row['opp_FTA']/2.25+row['opp_TOV'])
    r['opp_FT_factor'] = row['opp_FT']/row['opp_FGA']
    r['opp_3P'] = row['opp_3P']
    r['opp_3PA'] = row['opp_3PA']
    r['opp_3p%'] = float(r['opp_3P'])/row['opp_3PA']
    r['opp_ppg'] = row['opp_PTS']
    return r

In [584]:
##only look at the last n games
def trend_advanced_stats(team,date,game_Id, n):
    subdata = df[(df['Team']==team) &(df['Date']<date)].iloc[-n:]
    r = {}
    features = subdata[numeric_cols]
    row = pd.DataFrame(features.expanding().mean(),columns=numeric_cols).iloc[-1]
    r['TGame_Id'] = game_Id
    r['TTeam'] = team
    r['Tppg'] = row['PTS']
    r['Twin%'] = row['Team_Win']
    r['TEFG%'] = (row['FG']+.5*row['3P'])/row['FGA']
    r['TTOV%'] = row['TOV']/(row['FGA']+row['FTA']/2.25+row['TOV'])
    r['TORB%'] = (row['ORB']/(row['ORB']+row['opp_TRB']-row['opp_ORB']))
    r['TDRB%'] = (row['TRB']-row['ORB'])/(row['TRB']-row['ORB']+row['opp_ORB'])
    r['T3P'] = row['3P']
    r['T3PA'] = row['3PA']
    r['T3p%'] = float(r['T3P'])/row['3PA']
    r['TFT_factor'] = row['FT']/row['FGA']
    r['Topp_EFG%'] = (row['opp_FG']+.5*row['opp_3P'])/row['opp_FGA']
    r['Topp_TOV%'] = row['opp_TOV']/(row['opp_FGA']+row['opp_FTA']/2.25+row['opp_TOV'])
    r['Topp_FT_factor'] = row['opp_FT']/row['opp_FGA']
    r['Topp_3P'] = row['opp_3P']
    r['Topp_3PA'] = row['opp_3PA']
    r['Topp_3p%'] = float(r['Topp_3P'])/row['opp_3PA']
    r['Topp_ppg'] = row['opp_PTS']
    return r

In [585]:
##FULL SEASON STUFF
things = []
for i in df.index:
    if df.iloc[i]['game_number']>20:
        dicti = cum_advanced_stats(df.iloc[i]['Team'],df.iloc[i]['Date'],df.iloc[i]['Game_Id'])
        dicti['is_Home'] = df.iloc[i]['is_Home']
        dicti['Date'] = df.iloc[i]['Date']
        dicti['Game_Id'] = df.iloc[i]['Game_Id']
        dicti['line'] = df.iloc[i]['line']
        things.append(dicti)
df1a = pd.DataFrame(things)

In [586]:
##TRENDY STUFF
things = []
for i in df.index:
    if df.iloc[i]['game_number']>20:
        dicti = trend_advanced_stats(df.iloc[i]['Team'],df.iloc[i]['Date'],df.iloc[i]['Game_Id'],6)
        dicti['Game_Id'] = df.iloc[i]['Game_Id']
        things.append(dicti)
df2a = pd.DataFrame(things)

In [587]:
big_d = pd.merge(df1a,df2a,on="Game_Id")

In [588]:

correct= []
for el in big_d['Game_Id']:
    if (big_d['Game_Id']==el).sum() ==4:
        correct.append(el)
correct = list(set(correct))

In [589]:
#both teams have played more than the minimum number required to run the model
next_df = big_d[big_d['Game_Id'].apply(lambda x : x in correct)]

In [590]:
df1 = next_df[next_df.index%2==0]
df2 = next_df[next_df.index%2==1]

In [591]:
def played_last_night(team,date, df):
    try:
        game = df[(df['Team']==team) & (df['Date']==date)]
        last_game = df[(df['Team']==team) & (df['Date']<date)].iloc[-1]
        return (game['Date'].iloc[0] - last_game['Date']).days==1
    except:
        return np.nan

In [592]:
booleans = []
for row in range(df1.shape[0]):
    booleans.append(played_last_night(df1.iloc[row]['Team'],df1.iloc[row]['Date'],df1))
df1['played_last_night'] = booleans
booleans = []
for row in range(df1.shape[0]):
    booleans.append(played_last_night(df2.iloc[row]['Team'],df2.iloc[row]['Date'],df2))
df2['played_last_night'] = booleans

/Users/andrewadelson/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/andrewadelson/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [593]:
def played_diff_loc_last_night(team,date,df):
    try:
        game = df[(df['Team']==team) & (df['Date']==date)]
        last_game = df[(df['Team']==team) & (df['Date']<date)].iloc[-1]
        bool1 = (game['Date'].iloc[0] - last_game['Date']).days==1
        bool2 = game['Game_Id'].iloc[0].split('_')[1] ==last_game['Game_Id'].split('_')[1] 
        return bool1 and bool2
    except:
        return np.nan

In [594]:
booleans = []
for row in range(df1.shape[0]):
    booleans.append(played_diff_loc_last_night(df1.iloc[row]['Team'],df1.iloc[row]['Date'],df1))
df1['played_diff_loc_last_night'] = booleans
booleans = []
for row in range(df1.shape[0]):
    booleans.append(played_diff_loc_last_night(df2.iloc[row]['Team'],df2.iloc[row]['Date'],df2))
df2['played_diff_loc_last_night'] = booleans

/Users/andrewadelson/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/andrewadelson/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [595]:
def played_road_last_night(team,date,df):
    try:
        game = df[(df['Team']==team) & (df['Date']==date)]
        last_game = df[(df['Team']==team) & (df['Date']<date)].iloc[-1]
        bool1 = (game['Date'].iloc[0] - last_game['Date']).days==1
        bool2 = last_game['is_Home']==False
        return bool1 and bool2
    except:
        return np.nan

In [596]:
booleans = []
for row in range(df1.shape[0]):
    booleans.append(played_road_last_night(df1.iloc[row]['Team'],df1.iloc[row]['Date'],df1))
df1['played_road_last_night'] = booleans
booleans = []
for row in range(df1.shape[0]):
    booleans.append(played_road_last_night(df2.iloc[row]['Team'],df2.iloc[row]['Date'],df2))
df2['played_road_last_night'] = booleans

/Users/andrewadelson/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/andrewadelson/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [597]:
def days_off(team,date,df):
    try:
        game = df[(df['Team']==team) & (df['Date']==date)]
        last_game = df[(df['Team']==team) & (df['Date']<date)].iloc[-1]
        return (game['Date'].iloc[0] - last_game['Date']).days
    except:
        return np.nan

In [598]:
days = []
for row in range(df1.shape[0]):
    days.append(days_off(df1.iloc[row]['Team'],df1.iloc[row]['Date'],df1))
df1['days_off'] = days
days = []
for row in range(df1.shape[0]):
    days.append(days_off(df2.iloc[row]['Team'],df2.iloc[row]['Date'],df2))
df2['days_off'] = days

/Users/andrewadelson/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/andrewadelson/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [599]:
df_merge= pd.merge(df1,df2,on = 'Game_Id')

In [600]:
##correcting for some multiplicity error which I'm not sure how occurred
indices = [x for x in df_merge.index if x%4 in [0]]

df_merge = df_merge.iloc[indices]

In [601]:
df_merge.head()

,3P_x,3PA_x,3p%_x,DRB%_x,Date_x,EFG%_x,FT_factor_x,Game_Id,ORB%_x,TOV%_x,Team_x,is_Home_x,line_x,opp_3P_x,opp_3PA_x,opp_3p%_x,opp_EFG%_x,opp_FT_factor_x,opp_TOV%_x,opp_ppg_x,ppg_x,win%_x,T3P_x,T3PA_x,T3p%_x,TDRB%_x,TEFG%_x,TFT_factor_x,TGame_Id_x,TORB%_x,TTOV%_x,TTeam_x,Topp_3P_x,Topp_3PA_x,Topp_3p%_x,Topp_EFG%_x,Topp_FT_factor_x,Topp_TOV%_x,Topp_ppg_x,Tppg_x,Twin%_x,played_last_night_x,played_diff_loc_last_night_x,played_road_last_night_x,days_off_x,3P_y,3PA_y,3p%_y,DRB%_y,Date_y,EFG%_y,FT_factor_y,ORB%_y,TOV%_y,Team_y,is_Home_y,line_y,opp_3P_y,opp_3PA_y,opp_3p%_y,opp_EFG%_y,opp_FT_factor_y,opp_TOV%_y,opp_ppg_y,ppg_y,win%_y,T3P_y,T3PA_y,T3p%_y,TDRB%_y,TEFG%_y,TFT_factor_y,TGame_Id_y,TORB%_y,TTOV%_y,TTeam_y,Topp_3P_y,Topp_3PA_y,Topp_3p%_y,Topp_EFG%_y,Topp_FT_factor_y,Topp_TOV%_y,Topp_ppg_y,Tppg_y,Twin%_y,played_last_night_y,played_diff_loc_last_night_y,played_road_last_night_y,days_off_y
0,8.900000,23.050000,0.386117,0.741897,2013-12-07,0.513723,0.207637,12/7/2013_Portland_Dallas,0.237984,0.133289,Dallas,0,2.0,7.650000,21.850000,0.350114,0.509381,0.252658,0.149577,101.650000,103.500000,0.600000,9.166667,21.000000,0.436508,0.730337,0.520428,0.260700,12/7/2013_Portland_Dallas,0.305019,0.118102,Portland,7.333333,18.500000,0.396396,0.495220,0.200765,0.110448,103.833333,111.500000,0.833333,NaN,NaN,NaN,NaN,8.900000,23.050000,0.386117,0.741897,2013-12-07,0.513723,0.207637,0.237984,0.133289,Dallas,0,2.0,7.650000,21.850000,0.350114,0.509381,0.252658,0.149577,101.650000,103.500000,0.600000,7.833333,21.666667,0.361538,0.720472,0.481660,0.158301,12/7/2013_Portland_Dallas,0.215827,0.102164,Dallas,6.833333,20.500000,0.333333,0.489474,0.258947,0.137224,98.000000,96.833333,0.500000,NaN,NaN,NaN,NaN
4,8.300000,21.000000,0.395238,0.730914,2013-12-08,0.560717,0.248175,12/8/2013_Detroit_Miami,0.180168,0.150582,Miami,0,15.0,8.900000,24.100000,0.369295,0.496134,0.243557,0.163585,95.900000,103.200000,0.750000,6.666667,21.166667,0.314961,0.718254,0.524229,0.209251,12/8/2013_Detroit_Miami,0.150215,0.156679,Miami,7.333333,21.666667,0.338462,0.461538,0.275641,0.154215,93.500000,95.166667,0.666667,NaN,NaN,NaN,NaN,8.300000,21.000000,0.395238,0.730914,2013-12-08,0.560717,0.248175,0.180168,0.150582,Miami,0,15.0,8.900000,24.100000,0.369295,0.496134,0.243557,0.163585,95.900000,103.200000,0.750000,6.500000,17.333333,0.375000,0.762082,0.481445,0.208984,12/8/2013_Detroit_Miami,0.347670,0.148304,Detroit,8.000000,24.000000,0.333333,0.474510,0.178431,0.153204,95.833333,100.000000,0.666667,NaN,NaN,NaN,NaN
8,9.714286,22.761905,0.426778,0.739583,2013-12-09,0.528930,0.201636,12/9/2013_Charlotte_Golden State,0.238095,0.154474,Golden State,0,-4.0,6.666667,19.333333,0.344828,0.472144,0.227349,0.133719,99.142857,102.619048,0.571429,3.333333,14.333333,0.232558,0.799228,0.438669,0.239085,12/9/2013_Charlotte_Golden State,0.232727,0.128210,Charlotte,7.666667,21.333333,0.359375,0.456212,0.201629,0.117573,91.166667,89.500000,0.333333,NaN,NaN,NaN,NaN,9.714286,22.761905,0.426778,0.739583,2013-12-09,0.528930,0.201636,0.238095,0.154474,Golden State,0,-4.0,6.666667,19.333333,0.344828,0.472144,0.227349,0.133719,99.142857,102.619048,0.571429,9.000000,22.833333,0.394161,0.724907,0.512097,0.243952,12/9/2013_Charlotte_Golden State,0.256809,0.143673,Golden State,6.333333,18.833333,0.336283,0.482422,0.244141,0.124687,103.166667,104.833333,0.500000,NaN,NaN,NaN,NaN
12,8.000000,23.809524,0.336000,0.735358,2013-12-09,0.515327,0.239445,12/9/2013_Philadelphia_LA Clippers,0.250844,0.129997,LA Clippers,0,11.0,6.714286,19.952381,0.336516,0.489087,0.233199,0.135462,100.428571,104.571429,0.619048,6.333333,22.333333,0.283582,0.715356,0.468303,0.243354,12/9/2013_Philadelphia_LA Clippers,0.227799,0.119226,LA Clippers,6.000000,19.833333,0.302521,0.461386,0.184158,0.134536,93.166667,96.166667,0.500000,NaN,NaN,NaN,NaN,8.000000,23.809524,0.336000,0.735358,2013-12-09,0.515327,0.239445,0.250844,0.129997,LA Clippers,0,11.0,6.714286,19.952381,0.336516,0.489087,0.233199,0.135462,100.428571,104.571429,0.619048,7.666667,24.666667,0.310811,0.731618,0.487985,0.142329,12/9/2013_Philadelphia_LA Clippers,0.269784,0.149211,Philadelphia,6.500000,22.666667,0.286765,0.523496,0.219925,0.129434,112.333333,100.833333,0.166667,NaN,NaN,NaN,NaN
16,9.761905,23.333333,0.418367,0.737297,2013-12-09,0.514182,0.212458,12/9/2013_Utah_Portland,0.297238,0.127752,Portland,0,11.0,5.761905,16.857143,0.341808,0.485294,0.197003,0.118015,100.190476,106.238095,0.809524,6.666667,16.000000,0.416667,0.722689,0.500000,0.216000,12/9/2013_Utah_Portland,0.292490,0.125261,Utah,8.666667,22.333333,0.388060,0.541247,0.237425,0.107879,109.333333,101.333333,0.333333,False,False,False,2.0,9.761905,23.333333,0.418367,0.737297,2013-12-09,0.514182,0.212458,0.297238,0.127752,Portland,0,11.0,5.761905,16.857143,0.341808,0.485294,0.197003,0.118015,100.190476,106.238095,0.809524,9.166667,21.833333,0.419847,0.735632,0.521277,0.259188,12/9/2013_Utah_Portland,0.329502,0.127913,Portland,7.666667,18.666667,0.410714,0.510476,0.198095,0.114407,106.666667,112.166667,0.666667,False,False,False,2.0

In [602]:
##clean up this dataframe a bit
df_merge.drop(['TGame_Id_x','Team_y', 'is_Home_y','line_y','TGame_Id_y','TTeam_y'], axis=1,inplace=True)
df_merge.rename(columns={'line_x':'line','is_Home_x':'is_Home','TTeam_x':'Team_y'},inplace=True)

In [606]:
df_merge.to_csv('boxscore_features_2013.csv',index = False)

In [605]:
df_merge.head(1)

,3P_x,3PA_x,3p%_x,DRB%_x,Date_x,EFG%_x,FT_factor_x,Game_Id,ORB%_x,TOV%_x,Team_x,is_Home,line,opp_3P_x,opp_3PA_x,opp_3p%_x,opp_EFG%_x,opp_FT_factor_x,opp_TOV%_x,opp_ppg_x,ppg_x,win%_x,T3P_x,T3PA_x,T3p%_x,TDRB%_x,TEFG%_x,TFT_factor_x,TORB%_x,TTOV%_x,Team_y,Topp_3P_x,Topp_3PA_x,Topp_3p%_x,Topp_EFG%_x,Topp_FT_factor_x,Topp_TOV%_x,Topp_ppg_x,Tppg_x,Twin%_x,played_last_night_x,played_diff_loc_last_night_x,played_road_last_night_x,days_off_x,3P_y,3PA_y,3p%_y,DRB%_y,Date_y,EFG%_y,FT_factor_y,ORB%_y,TOV%_y,opp_3P_y,opp_3PA_y,opp_3p%_y,opp_EFG%_y,opp_FT_factor_y,opp_TOV%_y,opp_ppg_y,ppg_y,win%_y,T3P_y,T3PA_y,T3p%_y,TDRB%_y,TEFG%_y,TFT_factor_y,TORB%_y,TTOV%_y,Topp_3P_y,Topp_3PA_y,Topp_3p%_y,Topp_EFG%_y,Topp_FT_factor_y,Topp_TOV%_y,Topp_ppg_y,Tppg_y,Twin%_y,played_last_night_y,played_diff_loc_last_night_y,played_road_last_night_y,days_off_y
0,8.9,23.05,0.386117,0.741897,2013-12-07,0.513723,0.207637,12/7/2013_Portland_Dallas,0.237984,0.133289,Dallas,0,2.0,7.65,21.85,0.350114,0.509381,0.252658,0.149577,101.65,103.5,0.6,9.166667,21.0,0.436508,0.730337,0.520428,0.2607,0.305019,0.118102,Portland,7.333333,18.5,0.396396,0.49522,0.200765,0.110448,103.833333,111.5,0.833333,NaN,NaN,NaN,NaN,8.9,23.05,0.386117,0.741897,2013-12-07,0.513723,0.207637,0.237984,0.133289,7.65,21.85,0.350114,0.509381,0.252658,0.149577,101.65,103.5,0.6,7.833333,21.666667,0.361538,0.720472,0.48166,0.158301,0.215827,0.102164,6.833333,20.5,0.333333,0.489474,0.258947,0.137224,98.0,96.833333,0.5,NaN,NaN,NaN,NaN

Other features to consider:

current win streak 
current lose streak
record in the last 10 games
did they play last night
did they play a road game last night
how long is current road trip
how active has a team been in the last 10 days
LATER:
how to we factor players into the model? Players injured/sitting out? Player mismatches? 
Can I categorize games into different types? We could use some unsupervised model to classify games into different types and then compare historical lines within that game type
Features of a game type: 
major injuries, back to backs, both teams records, both teams streaks/record in last ten, distance/time zone between stadiums, time of the game, 

team styles? Can I categorize/quantify a style for all 30 teams? Such as pace of play. Big/small?