In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
pd.set_option('max_columns',999)
pd.set_option('max_rows',999)
pd.set_option('max_colwidth',999)
import datetime
import numpy as np
import requests
import json
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [ ]:
##call google map API to get distances between stadiums and make them into a dictionary
dict_distances = {}
for i,loc1 in enumerate(df['game_Location'].unique()):
    for k in range(i,len(df['game_Location'].unique())):
        loc2 = df['game_Location'].unique()[k]
        if loc1!=loc2:
            string = 'https://maps.googleapis.com/maps/api/distancematrix/json?origins={}&destinations={}&key=AIzaSyAtEyirTGKvMkeAPCThQYY83-a1Dzq6SHo'.format(loc1,loc2)
            response = requests.get(string)
            try:
                dict_distances[loc1+'-'+loc2] = response.content.split('\"text" : \"')[1].split('\"')[0]
            except:
                dict_distances[loc1+'-'+loc2] = np.nan

In [28]:
def boxes(first, second):
    ##return all the boxscores (per side) from one season, for the 2016-2017 season we would call boxes('2016','2017')
    ##one fault is that every season will include a few playoff games in april. 
    ##This isn't a big deal though as it can be viewed as a continuation of the regular season
    box = []
    months = ['10','11','12','1','2','3','4']
    days = [str(i) for i in range(1,32)]
    for month in months:
        print month
        if int(month)>7:
            year = first
        else:
            year=second
        for day in days:    
            response = requests.get('http://www.basketball-reference.com/boxscores/?month={0}&day={1}&year={2}'.format(month,day,year))
            soup = BeautifulSoup(response.content, 'lxml')
            tables = soup.find_all('div',{'class':'game_summary expanded nohover'})
            for table in tables:
                teams = {}
                teams['away'] = table.find_all('table')[1].find('tbody').find_all('tr')[0].find('td').text
                teams['away_score'] = table.find('table').find_all('tr')[0].find_all('td')[1].text
                teams['home'] = table.find_all('table')[1].find('tbody').find_all('tr')[1].find('td').text
                teams['home_score'] = table.find('table').find_all('tr')[1].find_all('td')[1].text
                teams['away_r'] = table.find('table').find('tr')['class'][0]
                teams['home_r'] = table.find('table').find_all('tr')[1]['class'][0]
                response = requests.get('http://www.basketball-reference.com{0}'.format(table.find('p').find('a')['href']))
                soup = BeautifulSoup(response.content, 'lxml')
                for i, athlete in enumerate(soup.find_all('table')[0].find('tbody').find_all('tr')):
                    if athlete.find('th').text.strip() not in ["Reserves","Team Totals"]:
                        player = {}
                        player['name'] = athlete.find('th').text
                        cells = athlete.find_all('td')
                        player['minutes'] = 'DNP'
                        player['team_score']=teams['away_score']
                        player['opp_score']=teams['home_score']
                        player['Team'] = teams['away']
                        player['Date'] = month + '/'+day+'/'+year
                        player['Opponent'] = teams['home']
                        player['Game_Id'] = player['Date'] + '_'+player['Opponent']+'_'+player['Team']
                        player['result'] = teams['away_r']
                        player['started']=False
                        if len(cells)>1:
                            player['minutes'] = cells[0].text
                            player['FG'] = cells[1].text
                            player['FGA'] = cells[2].text
                            player['3P'] = cells[4].text
                            player['3PA'] = cells[5].text
                            player['FT'] = cells[7].text
                            player['FTA'] = cells[8].text
                            player['ORB'] = cells[10].text
                            player['TRB'] = cells[12].text
                            player['AST'] = cells[13].text
                            player['STL'] = cells[14].text
                            player['BLK'] = cells[15].text
                            player['TOV'] = cells[16].text
                            player['PF'] = cells[17].text
                            player['PTS'] = cells[18].text
                            player['+/1'] = cells[19].text
                            if i<5:
                                player['started']=True
                        box.append(player)
                for i, athlete in enumerate(soup.find_all('table')[2].find('tbody').find_all('tr')):
                    if athlete.find('th').text.strip() not in ["Reserves","Team Totals"]:
                        player = {}
                        player['name'] = athlete.find('th').text
                        cells = athlete.find_all('td')
                        player['team_score']=teams['home_score']
                        player['opp_score']=teams['away_score']
                        player['minutes'] = 'DNP'
                        player['Team'] = teams['home']
                        player['Date'] = month + '/'+day+'/'+year
                        player['Opponent'] = teams['away']
                        player['Game_Id'] = player['Date'] + '_'+player['Opponent']+'_'+player['Team']
                        player['result'] = teams['home_r']
                        player['started']=False
                        if len(cells)>1:
                            player['minutes'] = cells[0].text
                            player['FG'] = cells[1].text
                            player['FGA'] = cells[2].text
                            player['3P'] = cells[4].text
                            player['3PA'] = cells[5].text
                            player['FT'] = cells[7].text
                            player['FTA'] = cells[8].text
                            player['ORB'] = cells[10].text
                            player['TRB'] = cells[12].text
                            player['AST'] = cells[13].text
                            player['STL'] = cells[14].text
                            player['BLK'] = cells[15].text
                            player['TOV'] = cells[16].text
                            player['PF'] = cells[17].text
                            player['PTS'] = cells[18].text
                            player['+/1'] = cells[19].text
                            if i<5:
                                player['started']=True
                        box.append(player)
    return pd.DataFrame(box)

In [12]:
df = boxes('2012','2013')

10
11
12
1
2
3
4

In [46]:
# fix gameIds so they don't only have one format, regardless of which team a player played on

##convert to numpy array to create features I need
array = df.as_matrix()


##this corrected my game ids. I scraped incorrectly.
##I had both '10/25/2016_Cleveland_New York' and '10/25/2016_New York_Cleveland'
ids = df.iloc[0]['Game_Id']
sets = ids.split('_')
for i in range(len(array)):
    set_row = array[i][10].split('_')
    if set(set_row)==set(sets):
        array[i][10] = ids
    else:
        sets = set(set_row)
        ids = array[i][10]
##convert back into a pandas dataframe
df = pd.DataFrame(array,columns=df.columns)

In [52]:
##fix +/- column
df['+/-'] = df['+/1'].apply(lambda x: x.replace('+',''))
df.drop('+/1',axis=1,inplace=True)

In [58]:
#convert boxscore columns to appropriate type
numeric_cols = [i for i in df.columns if i not in ['Date','Game_Id','Opponent','Team','minutes','name','result','started','+/-']]



for i in df.columns:
    if i in numeric_cols:
        df[i] = df[i].astype(int)

In [63]:
df['Date']=pd.to_datetime(df['Date'])

In [67]:
##create a feature that says whether or not the team is at home
def home(row):
    return row['Game_Id'].split('_')[1]
df['Home_team'] = df.apply(home,axis=1)
df['is_Home']=df['Home_team'] ==df['Team']
df.drop('Home_team',axis=1,inplace=True)

In [69]:
##convert result column to a boolean Team_Win
df['Team_Win'] = df['result'].map({'loser':0,'winner':1})
df.drop('result',axis=1, inplace=True)

##convert other booleans to ints
df['started']= df['started'].apply(int)
df['is_Home']= df['is_Home'].apply(int)

In [74]:
#convert minutes to seconds
def time_played(row):
    if row['minutes']=='DNP':
        return 0
    else:
        time = row['minutes'].split(':')
        return int(time[0])*60+int(time[1])
df['time_played_(s)'] = df.apply(time_played,axis=1)
df.drop('minutes',axis=1,inplace=True)

In [83]:
df.to_csv('NBA_player_data_12-13.csv',index=False)

In [206]:
##create a variable that specifies this is the df of player stats
df = pd.read_csv('NBA_player_data_11-12.csv')

In [207]:
df['result'] = df['team_score']-df['opp_score']

In [208]:
groups= df.groupby(['Game_Id','Team'],sort=False).sum()

matrix = groups.as_matrix()

ids = []
for game in df['Game_Id'].unique():
    ids.append(game+ '%aa'+game.split('_')[1])
    ids.append(game+ '%aa'+game.split('_')[2])

new_frame = pd.DataFrame(matrix, columns = groups.columns, index = ids)

team_data = new_frame[['3P','3PA', 'AST', 'BLK', 'FG', 'FGA', 'FT', 'FTA', 'ORB',
       'PF', 'PTS', 'STL', 'TOV', 'TRB','is_Home','Team_Win']]

team_data = team_data.reset_index()

team_data['opponent'] = team_data['index'].apply(lambda x: x.split('%aa')[1])

team_data['index'] = team_data['index'].apply(lambda x: x.split('%aa')[0])

team_data['is_Home'] = team_data['is_Home'].apply(lambda x: x>0).astype(int)
team_data['Team_Win'] = team_data['Team_Win'].apply(lambda x: x>0).astype(int)

both_teams_total = team_data.groupby('index',sort=False).sum().reset_index()
##this gets all the opponents data on the same line
weird = pd.merge(both_teams_total,team_data,on='index')

#fill in opponent data in an insufficient way
team_data['opp_TRB'] = weird['TRB_x']-team_data['TRB']
team_data['opp_3P'] = weird['3P_x']-team_data['3P']
team_data['opp_3PA'] = weird['3PA_x']-team_data['3PA']
team_data['opp_AST'] = weird['AST_x']-team_data['AST']
team_data['opp_BLK'] = weird['BLK_x']-team_data['BLK']
team_data['opp_FG'] = weird['FG_x']-team_data['FG']
team_data['opp_FGA'] = weird['FGA_x']-team_data['FGA']
team_data['opp_FT'] = weird['FT_x']-team_data['FT']
team_data['opp_FTA'] = weird['FTA_x']-team_data['FTA']
team_data['opp_PTS'] = weird['PTS_x']-team_data['PTS']
team_data['opp_ORB'] = weird['ORB_x']-team_data['ORB']
team_data['opp_STL'] = weird['STL_x']-team_data['STL']
team_data['opp_PF'] = weird['PF_x']-team_data['PF']
team_data['opp_TOV'] = weird['TOV_x']-team_data['TOV']

def opponent(row):
    if row['opponent'] == row['index'].split('_')[1]:
        return row['index'].split('_')[2]
    else:
        return row['index'].split('_')[1]

team_data['Team'] =team_data.apply(opponent, axis=1)

team_data['Game_Id'] = team_data['index']
team_data.drop('index',axis=1, inplace=True)

In [209]:
team_data.to_csv('team_boxscores_12_13.csv',index=False)

In [322]:
teams= pd.read_csv('team_boxscores_12_13.csv')

In [323]:
#add date column
teams['Date']=teams['Game_Id'].apply(lambda x: x.split('_')[0])

In [324]:
##convert to datetime
teams['Date'] = pd.to_datetime(teams['Date'])

In [325]:
matrix = teams.as_matrix()

##get a list of all the teams
clubs = []
for el in matrix:
    clubs.append(el[16])
clubs = list(set(clubs))

##This cell calculates how many days since the last game.

##initialize a dictionary of last dates and set all to 0
last_date = {}
for team in clubs:
    last_date[team]=0


##calculate how many days since last game
new_matrix = []
for row in matrix:
    row = list(row)
    if last_date[row[16]] == 0:
        row.append(np.nan)
    else:
        row.append((row[33]-last_date[row[16]]).days)
    new_matrix.append(row)
    last_date[row[16]] = row[33]

##add Days_Since to column names
columns = ['3P', '3PA', 'AST', 'BLK', 'FG', 'FGA', 'FT', 'FTA', 'ORB', 'PF',
       'PTS', 'STL', 'TOV', 'TRB', 'is_Home', 'Team_Win', 'opponent', 'opp_TRB','opp_3P',
       'opp_3PA', 'opp_AST', 'opp_BLK', 'opp_FG', 'opp_FGA', 'opp_FT',
       'opp_FTA', 'opp_PTS', 'opp_ORB', 'opp_STL', 'opp_PF', 'opp_TOV',
       'Team', 'Game_Id', 'Date','Days_Since']
##add the delta column back to new data frame
df = pd.DataFrame(new_matrix,columns = columns)

In [326]:
##dictionary of time zones
time_zone_dict = {}
for team in clubs:
    time_zone_dict[team]=0
for team in clubs:
    if team in ['Phoenix','Denver', 'Utah']:
        time_zone_dict[team]+= 1
    elif team in ['Chicago','Oklahoma City','Milwaukee','Houston','Dallas',
                  'San Antonio','Memphis','Minnesota','New Orleans']:
        time_zone_dict[team]+=2
    elif team in ['Atlanta','Boston','Charlotte','Brooklyn', 'Cleveland','Detroit',
                 'Indiana', 'Miami','New York', 'Orlando','Philadelphia','Washington','Toronto','New Jersey']:
        time_zone_dict[team]+=3
    else:
        pass
    
##grab the location from the game id
df['game_Location'] = df['Game_Id'].apply(lambda x: x.split("_")[1])

##make time zone function
def time_zone(row):
    return time_zone_dict[row['game_Location']]

##add time zone to data frame
df['Time_Zone'] =df.apply(time_zone, axis=1)

In [327]:
##change location column to accurate google locations. This is for the next cell to call google API
def change_Locations(row):
    if row['game_Location'] in ['LA Clippers', 'LA Lakers']:
        return 'Los Angeles'
    elif row['game_Location'] == 'Golden State':
        return 'Oakland'
    elif row['game_Location'] == 'Utah':
        return "Salt Lake City"
    elif row['game_Location'] =='Indiana':
        return 'Indianapolis'
    elif row['game_Location'] =='Minnesota':
        return 'Minneapolis'
    elif row['game_Location'] =='Washington':
        return 'Washington DC'
    elif row['game_Location'] == 'New Jersey':
        return 'Newark'
    else:
        return row['game_Location']
df['game_Location'] = df.apply(change_Locations, axis=1)

In [328]:
## do the same thing as game location
def team_location(row):
    if row['Team'] in ['LA Clippers', 'LA Lakers']:
        return 'Los Angeles'
    elif row['Team'] == 'Golden State':
        return 'Oakland'
    elif row['Team'] == 'Utah':
        return "Salt Lake City"
    elif row['Team'] =='Indiana':
        return 'Indianapolis'
    elif row['Team'] =='Minnesota':
        return 'Minneapolis'
    elif row['Team'] =='Washington':
        return 'Washington DC'
    else:
        return row['Team']

df['team_location'] = df.apply(team_location,axis=1)

In [329]:
##use the dictionary created to calculated distances between home and game
def distance_from_home(row):
    if row['game_Location'] ==row['team_location']:
        return 0
    else:
        string = row['game_Location']+'-'+row['team_location']
        if string in dict_distances:
            return dict_distances[string]
        else:
            return dict_distances[row['team_location']+'-'+row['game_Location']]
df['distance_From_Home'] = df.apply(distance_from_home,axis=1)
##turn distances into necessary form 
def fix_Distance(row):
    
    try:
        num = row['distance_From_Home'].split(' ')[0]
        return int(num.replace(',',''))

    except:
        return row['distance_From_Home']

df['distance_From_Home'] = df.apply(fix_Distance,axis=1)

In [330]:
#since we will deal with team time zones we need to change the name
df['game_time_zone'] =df['Time_Zone']
df.drop('Time_Zone', axis=1, inplace=True)
##add the time zone of the team's home stadium
def team_time_zone(row):
    return time_zone_dict[row['Team']]
df['team_time_zone'] = df.apply(team_time_zone,axis=1)

In [331]:
def game_time(row):
    return int(row['Date'].split(' ')[1].split(':')[0])
df['game_hour (et)'] = history.apply(game_time,axis=1)

In [332]:
##time zone differential between where the game is and the team's home location
df['time_zone_diff'] = df['game_time_zone']-df['team_time_zone']

In [333]:
##This cell adds the last location to the dataframe. So, if GS played Dallas in the previous game,
##That will be added as a feature.
matrix = df.as_matrix()


##initialize last_opp to check to see if a team has played a game.
last_loc = {}
for team in df.Team:
    last_loc[team]=0


##figure out who the last opponent was
new_matrix = []
for row in matrix:
    row = list(row)
    if last_loc[row[31]] == 0:
        row.append(np.nan)
    else:
        row.append(last_loc[row[31]])
    last_loc[row[31]] = row[35]
    new_matrix.append(row)
    

columns = ['3P', '3PA', 'AST', 'BLK', 'FG', 'FGA', 'FT', 'FTA', 'ORB', 'PF',
       'PTS', 'STL', 'TOV', 'TRB', 'is_Home', 'Team_Win', 'opponent',
       'opp_TRB', 'opp_3P', 'opp_3PA', 'opp_AST', 'opp_BLK', 'opp_FG',
       'opp_FGA', 'opp_FT', 'opp_FTA', 'opp_PTS', 'opp_ORB', 'opp_STL',
       'opp_PF', 'opp_TOV', 'Team', 'Game_Id', 'Date', 'Days_Since',
       'game_Location', 'team_location', 'distance_From_Home',
       'game_time_zone', 'team_time_zone', 'game_hour (et)',
       'time_zone_diff','last_loc']

##add the last loc column to new data frame
df= pd.DataFrame(new_matrix,columns = columns)

In [334]:
##calculate the distance from the last location
def distance_from_last_game(row):
    if row['last_loc']==row['game_Location']:
        return 0
    else:
        try:
            string = row['game_Location']+'-'+row['last_loc']
            if string in dict_distances:
                return dict_distances[string]
            else:
                return dict_distances[row['last_loc']+'-'+row['game_Location']]
        except:
            return np.nan
df['distance_From_Last_Game'] = df.apply(distance_from_last_game,axis=1)
##convert this distance to a float
def fix_Distance(row):
    try:
        return row['distance_From_Last_Game'].split(' ')[0].replace(',','')
    except:
        return row['distance_From_Last_Game']
        
df['distance_From_Last_Game'] = df.apply(fix_Distance,axis=1)

df['distance_From_Last_Game']=df['distance_From_Last_Game'].apply(float)

In [335]:
##Calculate the last time zone that the team played in.

##initialize last_time_zone at -1
matrix=df.as_matrix()
last_time = {}
for team in clubs:
    last_time[team]=-1


##calculate how many days since last game
new_matrix = []
for row in matrix:
    row = list(row)
    if last_time[row[31]] == -1:
        row.append(np.nan)
    else:
        row.append(last_time[row[31]])
    new_matrix.append(row)
    last_time[row[31]] = row[38]

columns = ['3P', '3PA', 'AST', 'BLK', 'FG', 'FGA', 'FT', 'FTA', 'ORB', 'PF',
       'PTS', 'STL', 'TOV', 'TRB', 'is_Home', 'Team_Win', 'opponent',
       'opp_TRB', 'opp_3P', 'opp_3PA', 'opp_AST', 'opp_BLK', 'opp_FG',
       'opp_FGA', 'opp_FT', 'opp_FTA', 'opp_PTS', 'opp_ORB', 'opp_STL',
       'opp_PF', 'opp_TOV', 'Team', 'Game_Id', 'Date', 'Days_Since',
       'game_Location', 'team_location', 'distance_From_Home',
       'game_time_zone', 'team_time_zone', 'game_hour (et)',
       'time_zone_diff','last_loc', 'distance_From_Last_Game','last_time_zone']

##add the last time_zone column to new data frame
df= pd.DataFrame(new_matrix,columns = columns)

In [336]:
##calculate the time zone difference from the last game
df['time_zone_change'] = df['game_time_zone']- df['last_time_zone']

In [337]:
##this adds an index for how many games a team has already played
##it can be used to filter out the first game or first 20 games to be used as data.
matrix = df.as_matrix()


game = {}
for team in clubs:
    game[team]=1


new_matrix = []
for row in matrix:
    row = list(row)
    if game[row[31]] == 1:
        row.append(1)
        game[row[31]]=game[row[31]] + 1
    else:
        row.append(game[row[31]])
        game[row[31]]=game[row[31]] + 1
    new_matrix.append(row)
    
columns = ['3P', '3PA', 'AST', 'BLK', 'FG', 'FGA', 'FT', 'FTA', 'ORB', 'PF',
       'PTS', 'STL', 'TOV', 'TRB', 'is_Home', 'Team_Win', 'opponent',
       'opp_TRB', 'opp_3P', 'opp_3PA', 'opp_AST', 'opp_BLK', 'opp_FG',
       'opp_FGA', 'opp_FT', 'opp_FTA', 'opp_PTS', 'opp_ORB', 'opp_STL',
       'opp_PF', 'opp_TOV', 'Team', 'Game_Id', 'Date', 'Days_Since',
       'game_Location', 'team_location', 'distance_From_Home',
       'game_time_zone', 'team_time_zone', 'game_hour (et)',
       'time_zone_diff','last_loc', 'distance_From_Last_Game','last_time_zone','time_zone_change','game_number']
df= pd.DataFrame(new_matrix,columns = columns)

In [338]:
##this is the result of the game, which I might try to predict
df['result'] = df['PTS']-df['opp_PTS']

In [339]:
df['total_PTS'] = df['PTS']+df['opp_PTS']

In [340]:
##Did you play a game yesterday?

##initialize last_time_zone at -1
matrix=df.as_matrix()
last_date = {}
for team in clubs:
    last_date[team]=pd.datetime(2010,5,3)


##calculate how many days since last game
new_matrix = []
for row in matrix:
    row = list(row)
    if row[46] == 1:
        row.append(False)
    else:
        row.append((row[33]-last_date[row[31]]).days==1)
    new_matrix.append(row)
    last_date[row[31]] = row[33]

columns = ['3P', '3PA', 'AST', 'BLK', 'FG', 'FGA', 'FT', 'FTA', 'ORB', 'PF',
       'PTS', 'STL', 'TOV', 'TRB', 'is_Home', 'Team_Win', 'opponent',
       'opp_TRB', 'opp_3P', 'opp_3PA', 'opp_AST', 'opp_BLK', 'opp_FG',
       'opp_FGA', 'opp_FT', 'opp_FTA', 'opp_PTS', 'opp_ORB', 'opp_STL',
       'opp_PF', 'opp_TOV', 'Team', 'Game_Id', 'Date', 'Days_Since',
       'game_Location', 'team_location', 'distance_From_Home',
       'game_time_zone', 'team_time_zone', 'game_hour (et)',
       'time_zone_diff','last_loc', 'distance_From_Last_Game','last_time_zone','time_zone_change','game_number','result',
          'total_PTS','played_yesterday']
##add the last time_zone column to new data frame
df= pd.DataFrame(new_matrix,columns = columns)

In [341]:
##did you play at a different location last night?
df['played_diff_loc_yesterday']=(df['last_loc']!=df['game_Location']) & (df['played_yesterday']==True)

In [342]:
##is this the second night of back to back road games?
bool1 = df['played_diff_loc_yesterday']
bool2 = df['last_loc']!=df['team_location']
bool3 = df['game_Location']!=df['team_location']
df['back_to_back_road_games'] = (bool1 & bool2 & bool3)

In [343]:
##don't forget DRB
df['DRB']=df['TRB']-df['ORB']
df['opp_DRB']=df['opp_TRB']-df['opp_ORB']

In [344]:
##create feature matrix
averages= ['3P', '3PA', 'AST', 'BLK', 'FG', 'FGA', 'FT', 'FTA', 'ORB','DRB',  'PF',
       'PTS', 'STL', 'TOV', 'TRB','Team_Win','opp_TRB', 'opp_3P', 'opp_3PA', 'opp_AST', 'opp_BLK', 'opp_FG',
       'opp_FGA', 'opp_FT', 'opp_FTA', 'opp_PTS', 'opp_ORB','opp_DRB', 'opp_STL',
       'opp_PF', 'opp_TOV','total_PTS']
def all_features(team):
    game_feats = {}
    subdata = df[(df['Team']==team) & (df['game_number']<82)]
    numeric_data = subdata[averages]
    features = pd.DataFrame(numeric_data.expanding().mean(),columns = averages)
    features['is_Home'] =df[df['Team']==team]['is_Home']
    features['Team_Win'] =df[df['Team']==team]['Team_Win']
    features['Team'] =df[df['Team']==team]['Team']
    features['Game_Id'] =df[df['Team']==team]['Game_Id']
    features['Date'] =df[df['Team']==team]['Date']
    features['Days_Since'] =df[df['Team']==team]['Days_Since']
    features['game_Location'] =df[df['Team']==team]['game_Location']
    features['team_location'] =df[df['Team']==team]['team_location']
    features['distance_From_Home'] =df[df['Team']==team]['distance_From_Home']
    features['game_time_zone'] =df[df['Team']==team]['game_time_zone']
    features['team_time_zone'] =df[df['Team']==team]['team_time_zone']
    features['game_hour (et)'] =df[df['Team']==team]['game_hour (et)']
    features['time_zone_diff'] =df[df['Team']==team]['time_zone_diff']
    features['last_loc'] =df[df['Team']==team]['last_loc']
    features['distance_From_Last_Game'] =df[df['Team']==team]['distance_From_Last_Game']
    features['last_time_zone'] =df[df['Team']==team]['last_time_zone']
    features['time_zone_change'] =df[df['Team']==team]['time_zone_change']
    features['game_number'] =df[df['Team']==team]['game_number']
    features['result'] =df[df['Team']==team]['result']
    features['played_yesterday'] =df[df['Team']==team]['played_yesterday']
    features['played_diff_loc_yesterday'] =df[df['Team']==team]['played_diff_loc_yesterday']
    features['back_to_back_road_games'] =df[df['Team']==team]['back_to_back_road_games']
    return features

In [345]:
dd = all_features(clubs[0])
for i in clubs[1:]:
    dd= pd.concat([dd,all_features(i)])
df=dd

In [346]:
##Did you play a game yesterday?

##initialize last_time_zone at -1
matrix=df.as_matrix()
last_date = {}



##calculate how many days since last game
new_matrix = []
for row in matrix:
    row = list(row)
    if row[34] in last_date:
        row.append(1)
    else:
        row.append(0)
    last_date[row[34]] = 14
    new_matrix.append(row)
    

columns = ['3P', '3PA', 'AST', 'BLK', 'FG', 'FGA', 'FT', 'FTA', 'ORB', 'DRB',
       'PF', 'PTS', 'STL', 'TOV', 'TRB', 'Team_Win', 'opp_TRB', 'opp_3P',
       'opp_3PA', 'opp_AST', 'opp_BLK', 'opp_FG', 'opp_FGA', 'opp_FT',
       'opp_FTA', 'opp_PTS', 'opp_ORB', 'opp_DRB', 'opp_STL', 'opp_PF',
       'opp_TOV', 'total_PTS', 'is_Home', 'Team', 'Game_Id', 'Date',
       'Days_Since', 'game_Location', 'team_location',
       'distance_From_Home', 'game_time_zone', 'team_time_zone',
       'game_hour (et)', 'time_zone_diff', 'last_loc',
       'distance_From_Last_Game', 'last_time_zone', 'time_zone_change',
       'game_number', 'result', 'played_yesterday',
       'played_diff_loc_yesterday', 'back_to_back_road_games','first']
##add the last time_zone column to new data frame
df= pd.DataFrame(new_matrix,columns = columns)

In [348]:
##advanced features
data=df
data['eFG%'] = (data['FG']+data['3P']*.5)/data['FGA']
data['TOV%'] = data['TOV'] / (data['FGA'] + 0.44 * data['FTA'] + data['TOV'])
data['opp_eFG%'] = (data['opp_FG']+data['opp_3P']*.5)/data['opp_FGA']
data['opp_TOV%'] = data['opp_TOV'] / (data['opp_FGA'] + 0.44 * data['opp_FTA'] + data['opp_TOV'])
data['ORB%'] = data['ORB']/ (data['ORB']+ data['opp_DRB'])
data['opp_ORB%'] = data['opp_ORB']/ (data['opp_ORB']+ data['DRB'])
data['FT_factor'] = data['FT']/data['FGA']
data['opp_FT_factor'] = data['opp_FT']/data['opp_FGA']
data['DRB%'] = data['DRB']/(data['opp_ORB']+data['DRB'])
data['opp_DRB%'] = data['opp_DRB']/(data['ORB']+data['opp_DRB'])
df=data

,3P,3PA,AST,BLK,FG,FGA,FT,FTA,ORB,DRB,PF,PTS,STL,TOV,TRB,Team_Win,opp_TRB,opp_3P,opp_3PA,opp_AST,opp_BLK,opp_FG,opp_FGA,opp_FT,opp_FTA,opp_PTS,opp_ORB,opp_DRB,opp_STL,opp_PF,opp_TOV,total_PTS,is_Home,Team,Game_Id,Date,Days_Since,game_Location,team_location,distance_From_Home,game_time_zone,team_time_zone,game_hour (et),time_zone_diff,last_loc,distance_From_Last_Game,last_time_zone,time_zone_change,game_number,result,played_yesterday,played_diff_loc_yesterday,back_to_back_road_games,eFG%,TOV%,opp_eFG%,opp_TOV%,ORB%,opp_ORB%,FT_factor,opp_FT_factor,DRB%,opp_DRB%
2,5.000000,15.000000,22.000000,5.000000,40.000000,85.000000,14.00,18.000000,9.000000,31.000000,25.000000,99.000000,9.000000,11.000000,40.0,1,46.000000,3.00,13.000000,24.000000,5.0,38.000000,77.000000,12.000000,31.000000,91.0,15.000000,31.000000,6.000000,21.00,14.000000,190.000000,0,Dallas,10/30/2012_LA Lakers_Dallas,2012-10-30,NaN,Los Angeles,Dallas,2312,0,2,21,-2,NaN,NaN,NaN,NaN,1,8.0,False,False,False,0.500000,0.105851,0.512987,0.133792,0.225000,0.326087,0.164706,0.155844,0.673913,0.775000
22,8.000000,18.500000,21.000000,5.000000,36.000000,85.000000,16.50,22.000000,8.500000,31.500000,28.500000,96.500000,8.500000,13.500000,40.0,0,53.500000,4.50,13.500000,24.000000,6.5,38.000000,83.000000,21.500000,36.500000,102.0,17.500000,36.000000,8.000000,23.00,14.000000,198.500000,0,Dallas,10/31/2012_Utah_Dallas,2012-10-31,NaN,Salt Lake City,Dallas,2001,1,2,15,-1,Los Angeles,1108.0,0.0,1.0,2,-19.0,True,True,True,0.470588,0.124792,0.484940,0.123828,0.191011,0.357143,0.194118,0.259036,0.642857,0.808989
55,10.666667,20.666667,24.333333,5.666667,40.333333,83.333333,15.00,19.666667,8.333333,32.666667,26.666667,106.333333,7.666667,16.333333,41.0,1,48.333333,4.00,14.666667,22.333333,5.0,38.333333,85.666667,20.333333,32.333333,101.0,16.666667,31.666667,9.666667,20.00,12.666667,207.333333,1,Dallas,11/3/2012_Dallas_Charlotte,2012-11-03,1.0,Dallas,Dallas,0,2,2,15,0,Salt Lake City,2001.0,1.0,1.0,3,27.0,False,False,False,0.548000,0.150788,0.470817,0.112533,0.208333,0.337838,0.180000,0.237354,0.662162,0.791667
83,10.500000,20.500000,25.500000,5.500000,42.250000,82.000000,13.25,18.000000,6.750000,33.250000,23.750000,108.250000,8.750000,14.500000,40.0,1,48.250000,4.25,16.500000,20.000000,4.5,37.750000,87.500000,18.750000,28.750000,98.5,18.250000,30.000000,8.500000,18.25,12.750000,206.750000,1,Dallas,11/5/2012_Dallas_Portland,2012-11-05,2.0,Dallas,Dallas,0,2,2,20,0,Dallas,0.0,2.0,0.0,4,23.0,False,False,False,0.579268,0.138862,0.455714,0.112932,0.183673,0.354369,0.161585,0.214286,0.645631,0.816327
109,10.000000,20.600000,24.600000,5.600000,41.600000,82.400000,15.20,21.400000,8.600000,32.800000,23.600000,108.400000,7.800000,13.800000,41.4,1,46.200000,4.40,17.600000,20.200000,3.8,37.400000,86.200000,20.400000,29.200000,99.6,16.600000,29.600000,8.200000,20.20,11.800000,208.000000,1,Dallas,11/7/2012_Dallas_Toronto,2012-11-07,1.0,Dallas,Dallas,0,2,2,12,0,Dallas,0.0,2.0,0.0,5,5.0,False,False,False,0.565534,0.130662,0.459397,0.106452,0.225131,0.336032,0.184466,0.236659,0.663968,0.774869

In [298]:
#home teams are odd indices, road teams are even indices
A = df[df['first']==0]
B = df[df['first']==1]

In [301]:
full_game = pd.merge(A,B,on='Game_Id')

In [305]:
full_game.to_csv('game_boxscores_12-13.csv',index=False)

In [306]:
df = pd.read_csv('game_boxscores_12-13.csv')

In [307]:
df.drop(['is_Home_x','game_Location_x', 'game_time_zone_x','game_hour (et)_x','result_x','total_PTS_x'],axis=1,inplace=True)
replaces = ['game_Location_y','game_time_zone_y','game_hour (et)_y','total_PTS_y','result_y',]
repl = {}
for i in replaces:
    repl[i] = i.replace('_y','')
df.rename(columns = repl,inplace=True)

In [308]:
history = pd.read_csv('history_lines.csv')

In [309]:
history['date'] = history['Date'].apply(lambda x: x.split(' ')[0])
def make_team(name):
    splits = name.split(' ')
    try:
        if len(splits)==2:
            return splits[0]
        else:
            return splits[0]+' '+splits[1]
    except:
        return np.nan
def edit_team(name):
    try:
        if 'Portland' in name:
            return name.split(' ')[0]
        else:
            return name
    except:
        return np.nan
history['home'] = history['Home Team'].apply(make_team)
history['home']=history['home'].apply(edit_team)
history['home'] = history['Home Team'].apply(make_team)
history['home']=history['home'].apply(edit_team)

history['away'] = history['Visitor Team'].apply(make_team)
history['away']=history['away'].apply(edit_team)
def make_id(row):
    try:
        return row['date']+ '_' + row['home']+ '_'+ row['away']
    except:
        return np.nan
def fix_date(date):
    els = date.split('/')
    return els[0]+'/'+els[1]+'/'+'20'+els[2]
history['date']=history['date'].apply(fix_date)
history['Game_Id'] = history.apply(make_id,axis=1)
data = pd.merge(df,history[['Home Opener', 'Home Closing Line','Visitor Juice', 'Home Juice', 'Opening Total',
       'Closing Total', 'Over Juice', 'Under Juice', 'Visitor ML Open',
       'Visitor ML', 'Home ML Open', 'Home ML','Game_Id']],on = 'Game_Id')

In [314]:
final_data = df[(df['game_number_x']>20) &(df['game_number_y']>20)]

In [316]:
##this returns a matrix of all the average values up to a given data, with some features that I extracted.
final_data.to_csv('Feature_Matrix_12-13.csv')

In [25]:
ddd= pd.read_csv('NBA_player_data_16-17.csv')